@import "vars";



// Markup free clearing ============================================================
// http://www.stubbornella.org/content/2012/05/02/cross-browser-debugging-css/
  @mixin cf {
    overflow: hidden;   // New formatting context in better browsers
    *overflow: visible; // Protect IE7 and older from the overflow property
    *zoom: 1;           // Give IE hasLayout, a new formatting context equivalent
  }
// ==================================================================================

// Image replacement ================================================================
// Kellum Method: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
// Additional helpers from http://html5boilerplate.com/docs/css/
// This is also included as a SASS mixin, see: sass/custom.rb
  @mixin ir {
    // Kellum Method
    display: block !important;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    // Additional helpers
    border: 0;                     // Remove the default border from elements like <button>
    font: 0/0 a;                   // Crush the text down to take up no space
    text-shadow: none;             // Remove any text shadows
    color: transparent;            // Hide any residual text in Safari 4 and any mobile devices that may need it
    background-color: transparent; // Hide the default background color on elements like <button>
  }
// ==================================================================================

// element-invisible improved and more robust =======================================
  @mixin element-invisible {
    border: 0;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax
    }
    clip: rect(1px, 1px, 1px, 1px);
  }
// ==================================================================================

// Turns off the element-invisible effect ===========================================
  @mixin element-invisible-off {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }

  @mixin element-focusable {
    @include element-invisible;

    &:active,
    &:focus {
      @include element-invisible-off;
    }
  }
// ==================================================================================

// Shift content offscreen, can be usefull when you reall need to do this ===========
@mixin offscreen {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
// ==================================================================================

// Hide content from all users ======================================================
  @mixin element-hidden {
    display: none;
  }
// ==================================================================================

// The word "Unpublished" displayed underneath unpublished nodes and comments =======
  @mixin unpublished {
    color: pink; // target browsers that do not support rgba
    color: rgba(239, 170, 170, 0.4);
    font-family: $signika-Regular;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;

    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      .ie6-7 &>* {
        position: relative; // Otherwise these elements will appear below the "Unpublished" text.
      }
    }
  }
// ==================================================================================


//Clearfix =================================
  @mixin clearfix {
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    * html & { height: 1px }
  }
//==========================================

//Headings =================================
  @mixin font-headin-xxx-large {
    @include opensans-light;
    font-size: $font-size-xxx-large;
    color: $color-primary-heading;
    margin-bottom: 30px;
    line-height: 35px;
  }

  @mixin font-headin-xx-large {
    @include opensans-light;
    font-size: $font-size-xx-large;
    color: $color-secondary-heading;
    margin-bottom: 15px;
    line-height: 30px;
  }

  @mixin font-headin-x-large {
    @include opensans-semibold;
    font-size: $font-size-x-large;
    color: $color-secondary-heading;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  @mixin font-headin-large {
    @include fopensans-italic;
    font-size: $font-size-large;
    color: $color-secondary-heading;
  }
//==========================================

// imputs ==================================
  @mixin inputs ($input-height:22px, $margin-bottom:12px){
    height: $input-height;
    border-radius: $global-border-radius;
    border: 1px solid $color-border;
    padding: 5px 9px;
    font-size: $font-size-small;
    margin-bottom: $margin-bottom;
    @include opensans-regular;
  }
  @mixin input-width-small {
    width: 200px;
  }
  @mixin input-width-full {
    width: 547px;
  }
//==========================================

  // buttons =================================
  @mixin buttons {
    background-color: $color-button;
    color: $color-button-txt;
    border: 0px;
    border-radius: $global-border-radius;
    padding: 6px 17px;
    font-size: $font-size-small;
    cursor: pointer;
    @include transition(all, 0.2s, ease-in-out);
    outline-color: #ff0000;
    &:hover {
      background: lighten( $color-button, 10% );
    }
  }

  @mixin tiny-bt {
    float: left;
    background: $color-bg-third-lvl;
    padding: 0px 5px;
    @include border-radius(3px);
    font-size: $font-size-tiny;
    @include secondary-link;
  }
//==========================================

// Transitions =============================
// @include transition(all, 0.2s, ease-in-out);
  @mixin transition($transition-property:all, $transition-time:0.2s, $method:ease-in-out) {
      -webkit-transition: $transition-property $transition-time $method;
      -moz-transition: $transition-property $transition-time $method;
      -ms-transition: $transition-property $transition-time $method;
      -o-transition: $transition-property $transition-time $method;
      transition: $transition-property $transition-time $method;
  }
//==========================================

// border radius ===========================
  @mixin border-radius($radius:6px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }
//==========================================

// box-shadow ==============================
  @mixin box-shadow($top, $left, $blur, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
  }
// =========================================

// text-shadow ==============================
  @mixin text-shadow($top, $left, $blur, $color) {
      -webkit-text-shadow:$top $left $blur $color;
      -moz-text-shadow:$top $left $blur $color;
      text-shadow:$top $left $blur $color;
  }
// =========================================
