@import "vars";

//  breakpoint


  @mixin breakpoint($breakpoint) {
    @if $breakpoint == "tablet-landscape" {
      @media (min-width:769px) and (max-width:989px) {
        @content;
      }
    }
    @if $breakpoint == "tablet-portrait" {
      @media (min-width:481px) and (max-width:768px) {
        @content;
      }
    }
    @if $breakpoint == "mobile-landscape" {
      @media (min-width:0px) and (max-width:480px) {
        @content;
      }
    }
    @if $breakpoint == "mobile-portrait" {
      @media (max-width:320px) {
        @content;
      }
    }
  }
  @include breakpoint("tablet-landscape") {}
  @include breakpoint("tablet-portrait") {}
  @include breakpoint("mobile-landscape") {}
  @include breakpoint("mobile-portrait") {}


// Markup free clearing =============================================================
  // http://www.stubbornella.org/content/2012/05/02/cross-browser-debugging-css/
  @mixin cf {
    overflow: hidden;   // New formatting context in better browsers
    *overflow: visible; // Protect IE7 and older from the overflow property
    *zoom: 1;           // Give IE hasLayout, a new formatting context equivalent
  }
// ==================================================================================

// Image replacement ================================================================
  // Kellum Method: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
  // Additional helpers from http://html5boilerplate.com/docs/css/
  // This is also included as a SASS mixin, see: sass/custom.rb
  @mixin ir {
    // Kellum Method
    display: block !important;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    // Additional helpers
    border: 0;                     // Remove the default border from elements like <button>
    font: 0/0 a;                   // Crush the text down to take up no space
    text-shadow: none;             // Remove any text shadows
    color: transparent;            // Hide any residual text in Safari 4 and any mobile devices that may need it
    background-color: transparent; // Hide the default background color on elements like <button>
  }
// ==================================================================================

// element-invisible improved and more robust =======================================
  @mixin element-invisible {
    border: 0;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax
    }
    clip: rect(1px, 1px, 1px, 1px);
  }
// ==================================================================================

// Turns off the element-invisible effect ===========================================
  @mixin element-invisible-off {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }

  @mixin element-focusable {
    @include element-invisible;

    &:active,
    &:focus {
      @include element-invisible-off;
    }
  }
// ==================================================================================

// Shift content offscreen, can be usefull when you reall need to do this ===========
  @mixin offscreen {
    position: absolute;
    top: -99999em;
    width: 1px;
    height: 1px;
    overflow: hidden;
    outline: 0;
  }
// ==================================================================================

// Hide content from all users ======================================================
  @mixin element-hidden {
    display: none;
  }
// ==================================================================================

// The word "Unpublished" displayed underneath unpublished nodes and comments =======
  @mixin unpublished {
    color: pink; // target browsers that do not support rgba
    color: rgba(239, 170, 170, 0.4);
    font-family: $signika-Regular;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;

    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      .ie6-7 &>* {
        position: relative; // Otherwise these elements will appear below the "Unpublished" text.
      }
    }
  }
// ==================================================================================

//Clearfix ==========================================================================
  @mixin clearfix {
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    * html & { height: 1px }
  }
//===================================================================================

//Headings ==========================================================================
  @mixin font-headin-xxx-large {
    @include opensans-light;
    font-size: $font-size-xxx-large;
    color: $color-primary-heading;
    margin-bottom: 30px;
    line-height: 35px;
  }

  @mixin font-headin-xx-large {
    @include opensans-light;
    font-size: $font-size-xx-large;
    color: $color-secondary-heading;
    margin-bottom: 15px;
    line-height: 30px;
  }

  @mixin font-headin-x-large {
    @include opensans-semibold;
    font-size: $font-size-x-large;
    color: $color-secondary-heading;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  @mixin font-headin-large {
    @include fopensans-italic;
    font-size: $font-size-large;
    color: $color-secondary-heading;
  }

  //@include head-teaser-list ();
  @mixin head-teaser-list () {
    font-size: $font-size-large;
    line-height: $line-height-regular;
    margin: 0px;
    a {
      color: $color-heading-secondary;
      &:hover { color: $color-heading-primary }
    }
  }
//===================================================================================

// imputs ===========================================================================
  @mixin inputs ($input-height:22px, $margin-bottom:12px){
    border: 1px solid $color-line;
    padding: 6px 9px;
    font-size: $font-size-large;
    margin-bottom: 0;
  }
  @mixin input-width-small {
    width: 200px;
  }
  @mixin input-width-full {
    width: 547px;
  }
//===================================================================================

// buttons ==========================================================================
  //color options: color-brown or color-black
    @mixin buttons ($border-radius:12px, $color:"color-brown", $size:"normal"){
      font-family: $signika-Regular;
      text-transform: uppercase;
      color: $color-bt-txt;
      border: 2px solid $color-bt-txt;
      cursor: pointer;
      display: inline-block;
      @include box-shadow (1px, 1px, 1px, $color-shadow);
      @include text-shadow (0px, 1px, 1px, #5E5C5C);
      @include button-gradient ($color);
      @include transition (all, 0.2s, ease-in-out);
      &.active { color: $color-bt-txt; }
      &:hover {
        color: $color-bt-txt;
      }
      @if $size == "normal" {
        font-size: $font-size-bt;
        padding: 5px 26px;
        @include border-radius ($border-radius);
      } @else if $size == "small" {
        font-size: $font-size-bt-small;
        padding: 3px 25px;
        @include border-radius ($border-radius);
      } @else if $size == "tiny" {
        font-size: $font-size-bt-tiny;
        padding: 2px 9px;
        @include border-radius ($border-radius);
      }
    }

    @mixin button-gradient ($color) {
      @if $color == "color-brown" {
        background: $color-bt-bg; /* Old browsers */
        background: -moz-linear-gradient(top,  $color-bt-bg 0%, #b75f18 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-bt-bg), color-stop(100%,#b75f18)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  $color-bt-bg 0%,#b75f18 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  $color-bt-bg 0%,#b75f18 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  $color-bt-bg 0%,#b75f18 100%); /* IE10+ */
        background: linear-gradient(to bottom,  $color-bt-bg 0%,#b75f18 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-bt-bg', endColorstr='#b75f18',GradientType=0 ); /* IE6-9 */
        &:hover {
        background: lighten($color-bt-bg, 5% ); /* Old browsers */
        background: -moz-linear-gradient(top,  lighten($color-bt-bg, 5% ), lighten(#b75f18, 5% ) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten($color-bt-bg, 5% )), color-stop(100%,lighten(#b75f18, 5% ))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  lighten($color-bt-bg, 5% ) 0%,lighten(#b75f18, 5% ) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  lighten($color-bt-bg, 5% ) 0%,lighten(#b75f18, 5% ) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  lighten($color-bt-bg, 5% ) 0%,lighten(#b75f18, 5% ) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  lighten($color-bt-bg, 5% ) 0%,lighten(#b75f18, 5% ) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($color-bt-bg, 5% )', endColorstr='lighten(#b75f18, 5% )',GradientType=0 ); /* IE6-9 */
        }
      } @else if $color == "color-black" {
        background: #6e6e6e; /* Old browsers */
        background: -moz-linear-gradient(top,  #6e6e6e 0%, #605953 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e6e6e), color-stop(100%,#605953)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #6e6e6e 0%,#605953 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #6e6e6e 0%,#605953 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #6e6e6e 0%,#605953 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #6e6e6e 0%,#605953 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #6e6e6e', endColorstr='#605953',GradientType=0 ); /* IE6-9 */
        &:hover {
        background: lighten(#6e6e6e, 5% ); /* Old browsers */
        background: -moz-linear-gradient(top, lighten(#6e6e6e, 5% ) 0%, lighten(#605953, 5% ) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(#6e6e6e, 5% )), color-stop(100%,lighten(#605953, 5% ))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, lighten(#6e6e6e, 5% ) 0%, lighten(#605953, 5% ) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, lighten(#6e6e6e, 5% ) 0%, lighten(#605953, 5% ) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, lighten(#6e6e6e, 5% ) 0%, lighten(#605953, 5% ) 100%); /* IE10+ */
        background: linear-gradient(to bottom, lighten(#6e6e6e, 5% ) 0%, lighten(#605953, 5% ) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten(#6e6e6e, 5% )', endColorstr='lighten(#605953, 5% )',GradientType=0 ); /* IE6-9 */
        }
      }
    }

  //clean button
  @mixin buttons-clean () {
    font-family: $signika-Regular;
    font-size: $font-size-tiny;
    text-transform: uppercase;
    color: $color-bt-txt;
    background-color: $color-bt-bg;
    padding: 5px 10px;
    display: inline;
    cursor: pointer;
    @include border-radius (2px);
    @include transition(all, 0.2s, ease-in-out);
    @include box-shadow (1px, 1px, 1px, $color-shadow);
    @include text-shadow (0px, 1px, 1px, #5E5C5C);

    //clean styles
    border: 0px;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;

    //hover
    &:hover {
      color: $color-bt-txt;
      background-color: lighten($color-bt-bg, 10% );

      //clean styles
      background-image: none;
      background-image: none;
      background-image: none;
      background-image: none;
      background-image: none;
      background-image: none;
      background-repeat: no-repeat;
      filter: none;
    }
  }
//===================================================================================

// Transitions ======================================================================
  // @include transition(all, 0.2s, ease-in-out);
  @mixin transition($transition-property:all, $transition-time:0.2s, $method:ease-in-out) {
      -webkit-transition: $transition-property $transition-time $method;
      -moz-transition: $transition-property $transition-time $method;
      -ms-transition: $transition-property $transition-time $method;
      -o-transition: $transition-property $transition-time $method;
      transition: $transition-property $transition-time $method;
  }
//===================================================================================

// border radius ====================================================================
  @mixin border-radius($radius:6px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }
//===================================================================================

// box-shadow =======================================================================
  @mixin box-shadow($top, $left, $blur, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
  }
//===================================================================================

// text-shadow ======================================================================
  @mixin text-shadow($top, $left, $blur, $color) {
      -webkit-text-shadow:$top $left $blur $color;
      -moz-text-shadow:$top $left $blur $color;
      text-shadow:$top $left $blur $color;
  }
//===================================================================================

// block-skin =======================================================================
  // info:
  // Skins names: "skin-default" "skin-brown"
  @mixin block-skin ($style, $border:true) {
    .block-title {
      text-align: center;
      color: $color-bg-heading-box-txt;
      text-transform: uppercase;
      font-size: $font-size-sidebar-xx-large;
      margin: 0;
    }
    .block-content,
    .view-content {
      h3 {
        @include head-teaser-list ();
        margin: 0px 0px 10px 0;
      }
      .views-field-field-image {
        a {
          display: block;
          line-height: 0;
          img {
            margin-bottom: 20px;
          }
        }
      }
      .partner-list-block,
      .date-list-block {
        border-bottom: 1px solid $color-line;
        padding-bottom: 10px;
        margin-bottom: 20px;
        &:last-child {
          border-bottom: 0px;
          padding-bottom: 0px;
          margin-bottom: 0px;
        }
        img {
          width: 140px;
          margin: 0 auto 10px auto;
          display: table;
        }
        h3 {
          margin-bottom: 0px;
        }
        p {
          margin-bottom: 3px;
        }
        .highlighted-item {
          background: url('#{$path-to-images}/iitem.png') no-repeat left 4px;
          text-transform: uppercase;
          color: $color-bg-dead-line;
          padding-left: 15px;
          margin-top: 10px
        }
      }
    }
    .block-content .view-content {
      border: 0px;
      padding: 0px;
    }
    .view-footer {
      text-align: right;
      background: $color-line;
      .read-more {
        text-transform: uppercase;
        padding: 1px 10px;
        color: #fff;
        &:hover { color: $color-heading-secondary; }
      }
    }
    @if $style == "skin-default" {
      .block-title {
        background: $color-bg-heading-box-primary;
      }
      .block-content,
      .view-content {
        padding: 15px;
        border-top: 0px;
        @include block-skin-border ($border);
      }
    } @else if $style == "skin-brown" {
      .block-title {
        background: $color-bg-heading-box-secondary;
        border-radius: 5px 5px 0px 0px;
        padding: 7px 0px;
        font-size: $font-size-sidebar-xxx-large;
      }
      .block-content {
        padding: 15px 6%;
        border-top: 0px;
        border-left: 1px solid $color-bg-heading-box-secondary;
        border-right: 1px solid $color-bg-heading-box-secondary;
        border-bottom: 1px solid $color-bg-heading-box-secondary;
      }
    } @else if $style == "skin-light" {
      .view-header,
      .block-title {
        background: $color-bg-box-hightlight;
        border-radius: 0px 0px 0px 0px;
        padding: 10px 29px;
        font-size: $font-size-sidebar-xxx-large;
      }
      .view-content,
      .block-content {
        padding: 10px;
        border-top: 0px;
        border-left: 1px solid $color-bg-box-hightlight;
        border-right: 1px solid $color-bg-box-hightlight;
        border-bottom: 1px solid $color-bg-box-hightlight;
      }
    }
  }
    @mixin block-skin-border ($border) {
      @if $border == true {
        border-left: 1px solid $color-line;
        border-right: 1px solid $color-line;
        border-bottom: 1px solid $color-line;
      } @else if $border == false {
        border: 0px;
      }
    }
//===================================================================================

// quicktabs ========================================================================
  //info:
  //$section = sidebar or content
  @mixin quicktabs ($section) {
    position: relative;

    .block { margin-bottom: 0; }
    .block-title {
      color: $color-heading-tabs;
      position: absolute;
      margin: 0px;
      top: 0px;
      left: 38px;
      letter-spacing: 1px;
    }
    .quicktabs-wrapper {
      .quicktabs-tabs {
        text-align: right;
        margin: 0px;
        padding: 5px 0 2px 0px;
        li {
          padding: 5px 0px 4px 0px;
          margin: 0px 5px 0px 0px;
          a {
            color: lighten($color-heading-primary, 30%);
            background-color: $color-bg-box;
            border-width: 1px;
            border-color: $color-line;
            border-style: solid solid none solid;
            box-shadow: inset 0px 3px 7px -3px #CAC9C9;
            margin: 0px 0px 0px 0px;
            &:hover {
              background-color: $color-bg-box;
              color: $color-heading-primary;
            }
          }
          &.active {
            a {
              color:$color-heading-primary;
              border-bottom-color: $color-bg-box;
              padding-bottom: 5px;
            }
            a {}
          }
          &.first {
            a {}
          }
          &.last {
            a {}
          }
        }
      }
      .quicktabs_main {
        .block-inner { margin: 0; }
        border-color: $color-line;
        border-width: 1px;
        margin-top: 0px;

        .block-footer {
          text-align: right;
          background: $color-line;
          .read-more {
            text-transform: uppercase;
            padding: 1px 10px;
            color: #fff;
            &:hover { color: $color-heading-secondary; }
          }
        }
      }
    }
    

    @if $section == sidebar {
      .block-title {
        font-size: $font-size-sidebar-heading-tab;
      }
      .quicktabs-wrapper {
        .quicktabs-tabs {
          li{
            &.last { margin: 0px 0px 0px 0px; }
            &.active { a { background: $color-bg-box; } }
            a { padding: 5px 10px 4px 10px; }
          }
        }
      }
      .quicktabs_main {
        background: $color-bg-box;
        border-style: solid solid solid solid;
      }
    } @else if $section == content {
      .block-title {
        font-size: $font-size-content-heading-tab;
      }
      .quicktabs-wrapper {
        .quicktabs-tabs {
          li{
            &.last { margin: 0px 5px 0px 0px; }
            &.active { a { background: $color-bg-general; } }
            a { padding: 5px 30px 4px 30px; }
          }
        }
      }
      .quicktabs_main {
        border-style: solid none none none;
        background: $color-transparent;
        padding-top: 15px;
      }

    }
  }
//===================================================================================

// author-tabs-list =================================================================
  @mixin author-tabs-list () {
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 10px;
      li {
        position: relative;
        margin: 0px 0px 10px 0px;
        &:first-child {}
        &:last-child { margin: 0px 0px 0px 0px; }
        .avatar {
          margin-right: 10px;
          float: left;
          a { line-height: 0; display: block; }
          img {}
        }
        .author-name {
          margin-bottom: 5px;
          padding-top: 0px;
          line-height: 16px;
          a {
            font-size: $font-size-sidebar-xx-large;
            color: $color-bg-heading-box-primary;
          }
        }
        .job-name {
          line-height: 13px;
          margin-bottom: 3px;
          font-size: 13px;
        }
        .organization {
          @extend .job-name;
        }
        .button {
          position: absolute;
          bottom: 2px;
          left: 120px;
          a { margin-right: 5px; }
        }
      }
    }
  }
//===================================================================================

// category-tabs-list ===============================================================
  @mixin category-tabs-list () {
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 15px;
      @include clearfix;
      li {
        font-size: $font-size-sidebar-item;
        text-transform: uppercase;
        margin: 0px 0px 8px 0px;
        &:first-child {}
        &:last-child {}
        a {
          padding: 8px 13px;
          display: block;
          @include border-radius(10px);
          @include transition(all, 0.2s, ease-in-out);
          &:hover {
            background: $color-bg-box2;
          }
        }
        .active {
          color: $color-bg-heading-box-txt;
          background: $color-bg-heading-box-primary;
          &:hover {
            background: $color-bg-heading-box-primary;
          }
        }
      }
    }
  }
//===================================================================================

// Category/Tags ====================================================================
  @mixin category() {
    background: $color-txt-selected;
    color: $color-bt-txt;
    padding: 0 10px;
    margin: 0 5px 0 0;
    text-transform: uppercase;
    @include border-radius(3px);
    @include transition(all, 0.2s, ease-in-out);
    &:hover {
      background: lighten($color-txt-selected, 10%);
    }
  }
//===================================================================================

// Article list width ===============================================================
  @mixin article-item-list-width ($device) {
    &:nth-child(odd) { clear: left; }
    @if $device == "desktop" {
      width: $article-item-list-width-desktop;
      float: left;
      height: 370px;
      .content {
        &:nth-child(odd) { margin-right: 10px; }
        &:nth-child(even)  { margin-right: 0px; }
      }
    } @else if $device == "tablet-landscape" {
      width: $article-item-list-width-tablet-landscape;
      float: left;
      height: auto;
      .content {
        &:nth-child(odd) { margin-right: 10px; }
        &:nth-child(even)  { margin-right: 0px; }
      }
    } @else if $device == "tablet-portrait" {
      width: $article-item-list-width-tablet-portrait;
      float: left;
      height: auto;
      .content {
        &:nth-child(odd) { margin-right: 10px; }
        &:nth-child(even)  { margin-right: 0px; }
      }
    } @else if $device == "mobile-landscape" {
      width: $article-item-list-width-mobile-landscape;
      float: left;
      height: auto;
      .content {
        &:nth-child(odd) { margin-right: 10px; }
        &:nth-child(even)  { margin-right: 0px; }
      }
    } @else if $device == "mobile-portrait" {
      width: $article-item-list-width-mobile-portrait;
      float: left;
      height: auto;
      .content {
        &:nth-child(odd) { margin-right: 0px; }
        &:nth-child(even)  { margin-right: 0px; }
      }
    }
  }
//===================================================================================

// Article list width no body =======================================================
  @mixin article-item-list-width-no-body ($device) {
    &:nth-child(odd) { clear: left; }
    @if $device == "desktop" {
      width: $article-item-list-width-desktop;
      float: left;
      height: 270px;
      .content {
        &:nth-child(odd) { margin-right: 10px; }
        &:nth-child(even)  { margin-right: 0px; }
      }
    } @else if $device == "tablet-landscape" {
      width: $article-item-list-width-tablet-landscape;
      float: left;
      height: auto;
      .content {
        &:nth-child(odd) { margin-right: 10px; }
        &:nth-child(even)  { margin-right: 0px; }
      }
    } @else if $device == "tablet-portrait" {
      width: $article-item-list-width-tablet-portrait;
      float: left;
      height: auto;
      .content {
        &:nth-child(odd) { margin-right: 10px; }
        &:nth-child(even)  { margin-right: 0px; }
      }
    } @else if $device == "mobile-landscape" {
      width: $article-item-list-width-mobile-landscape;
      float: left;
      height: auto;
      .content {
        &:nth-child(odd) { margin-right: 10px; }
        &:nth-child(even)  { margin-right: 0px; }
      }
    } @else if $device == "mobile-portrait" {
      width: $article-item-list-width-mobile-portrait;
      float: left;
      height: auto;
      .content {
        &:nth-child(odd) { margin-right: 0px; }
        &:nth-child(even)  { margin-right: 0px; }
      }
    }
  }
//===================================================================================

// Article list =====================================================================
  @mixin article-item-list () {
    .content { position: relative; }
    //img
    img { width: 100%; }
    
    //topic
    .item-list-topic {
      position: absolute;
      top: 6px;
      left: 6px;
      .field-type-taxonomy-term-reference {
        margin: 0px 10px 0 0;
        background: rgba(0, 0, 0, 0.52);
        padding: 6px 6px;
        width: auto;
        border: 1px solid #C0C0C0;
        ul {
          li {
            line-height: 10px;
            margin: 0;
            position: relative;
            a {
              font-size: 12px;
              background: transparent;
              color: #C0C0C0;
              padding: 0;
              margin: 0;
              text-transform: uppercase;
              -moz-border-radius: 0;
              -webkit-border-radius: 0;
              -ms-border-radius: 0;
              border-radius: 0;
              &:hover {
                color: #fff;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    
    //titles
    .aricle-title,
    .node-title {
      font-size: $font-size-article-title;
      color: $color-link-primary;
      line-height: $line-height-article-title;
      margin:5px 5px 7px 5px;
      max-height: 60px;
      overflow: hidden;
      clear: both;
      a { color: $color-link-primary; }
    }

    //text
    .field-name-body {
      margin:0px 5px 8px 5px;
      line-height: $line-height-article-text;
      max-height: 95px;
      overflow: hidden;
    }

    //author
    .author {
      font-size: $font-size-article-date;
      margin:0px 5px 0px 5px;
    }
  }
//===================================================================================

// Video list =======================================================================
  @mixin video-list ($number-col:3) {
    .row-first,
    .row-last {
      margin: 0 -1.8% 20px -1.8%; 
      @include clearfix;
    }
    .video-item {
      float: left;
      width: (100%/$number-col);
      text-align: center;
      &.col-first {
        text-align:left;
        .node-video {
        }
      }
      &.col-last {
        text-align:right;
        .node-video {
        }
      }
      .node-video {
        padding-right: 5%;
        padding-left: 5%;
        img { margin: 0; }
        h2 {
          text-align: left;
          @include head-teaser-list ();
        }
      }
    }
  }
//===================================================================================

// Opportunities list ===============================================================
  @mixin opportunities-list () {
    .opportunities-item {
      .opportunities-deadline {
        text-align: center;
        float: left;
        background: $color-bg-dead-line;
        color: $color-bt-txt;
        border: 2px solid lighten($color-bg-dead-line, 50%);
        padding: 17px 0px;
        margin-right: 20px;
        width: 102px;
        height: 62px;

        .deadline {
          color: lighten($color-bg-dead-line, 50%);
          border-bottom: 1px solid $color-bt-txt;
          line-height: 10px;
          margin: 0px auto 6px auto;
          padding-bottom: 3px;
          display: table;
        }
        .opp-date {
          .month {
            text-transform: uppercase;
            font-size: $font-size-x-large;
          }
          .year {
            font-size: 31px;
            line-height: 24px;
          }
        }
      }
    }
    h2 {
      font-size: $font-size-x-large;
      margin: 0px 0px 0px 0px;
      line-height: 26px;
      a {
        color: $color-link-primary;
      }
    }
    .content {
      margin-left: 126px;
      .field-name-body {
        font-size: 15px;
        font-family: $signika-Light;
      }
      p {
        margin-bottom: 0px;
      }
    }
    .buttons {
      clear: both;
      float: right;
    }
    @include breakpoint("mobile-landscape") {
      .node {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
      }
      .content {
        clear: both;
        padding-top: 12px;
        margin-left: 0;
      }
    }
  }
//===================================================================================

// Staff list =======================================================================
  @mixin staff-list () {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      margin: 0px 0px 20px 0;
      padding: 0px;
      .avatar {
        float: left;
        width: 110px;
      }
      p {
        margin-left: 130px;
      }
    }
  }
//===================================================================================

// tablet sidebar 50% ===============================================================
// este mixin genera el comportamiento del bloque para tablet
  @mixin sidebar-block-table {
    width: 50%;
    clear: none;
    float: left;
    .block-inner {
      margin: 0;
    }
  }
//===================================================================================

// Item width =======================================================================
@mixin form-width( $width-item:100%) {
  float: left;
  width: $width-item - 2%;
  padding-right: 2%; 
  label {}
  input { width: 100%; }
}
//===================================================================================