//English
.i18n-en {}

//Spanish
.i18n-es {
	@media (max-width: 989px) and (min-width: 769px) {
		.pane-quicktabs-opportunities-for-journalists {
			.block-title {
				top: -23px !important;
				left: 29px;
				line-height: normal;
			}
		}
	}

	//opportunities tabs
	.pane-quicktabs-opportunities-for-journalists {
		.block-title {
			font-size: 13px;
			top: 5px;
			left: 29px;
			line-height: normal;
		}
	}
}

//Persian
.i18n-pt-br {}

//Russia
.i18n-ru {
	 //Top BAR
	.block-top-header-menu { width: 65%; }
	.block-lang-dropdown { width: 30%; }
	.block-top-header-menu .block-content ul.menu li a {
		display: block;
		line-height: 12px;
		margin: 0 4px;
	}

	//opportunities tabs
	.pane-quicktabs-opportunities-for-journalists {
		.block-title {
			font-size: 13px;
			width: 130px;
			top: -7px;
			left: 29px;
			line-height: normal;
		}
	}
}

//Arabic
.i18n-ar {}

//Chinese
.i18n-zh-hans {}

//Persian
.i18n-fa {}