// Global
//set defaul urls ===============================
$path-to-images : 		"../images";
$path-to-fonts : 		"../fonts";

$color-bg-general:		#fff;    // to match the page background, default is white
$border:      			#ccc;    // all borders set in global.styles - tables, fieldset, primary links
$highlight:    			#c00;    // required mark, form error highlight, "new" label on comments
$ultralight:   			#f5f5f5; // table row even, primary link inactive tabs
$light:        			#eee;    // table row odd active, primary link inactive hover
$medium_light: 			#ebebeb; // table row even active
$medium_dark:  			#e5e5e5; // table thead
$debug:        			rgba(255, 192, 203, 0.5); // Full width wrapper test
$snow:        			#fff;

$thead:          		$medium_dark;
$tr_odd:         		$color-bg-general;
$tr_even:        		$ultralight;
$tr_odd_active:  		$light;
$tr_even_active: 		$medium_light;

$primary_task:      	$ultralight;
$primary_task_hover:	$light;
$primary_task_active: 	$color-bg-general;


// Gutters ======================================
//
// Set a variable for the gutters. Adaptivetheme allows you to easly modify the
// global gutter width for precise control over the design. Panel pages need
// special gutter wrangling when a Panel is inside #content wrapper, so to ease
// setting this we use a variable.
//
$gutter-width: 20px;

// Article-item-list with
$article-item-list-width-desktop:		 		50%;
$article-item-list-width-tablet-landscape: 		50%;
$article-item-list-width-tablet-portrait: 		50%;
$article-item-list-width-mobile-landscape: 		100%;
$article-item-list-width-mobile-portrait: 		100%;

// Font Variables ===============================
$montserrat-Bold:		 	'Montserrat-Bold', Arial, Helvetica, sans-serif ;
$montserrat-Regular: 		'Montserrat-Regular', Arial, Helvetica, sans-serif;

$signika-Bold: 				'Signika-Bold', Arial, Helvetica, sans-serif;
$signika-Light: 			'Signika-Light', Arial, Helvetica, sans-serif;
$signika-Regular: 			'Signika-Regular', Arial, Helvetica, sans-serif;
$signika-Semibold: 			'Signika-Semibold', Arial, Helvetica, sans-serif;


// colors =======================================
$color-transparent:						transparent;
$red:									#cf2106;
//background
$color-bg-leaderboard:					#5b5836;
$color-bg-general: 						#ffffff;
$color-bg-dead-line: 					#b75f18;
$color-bg-footer:  						#525146;
$color-bg-ligth:  						#f8f6ec;

//global headings
$color-heading-primary: 				#c67b1a;
$color-heading-secondary: 				#265775;

//text
$color-txt-primary: 					#2a2a2a;
$color-txt-primary-darck: 				#000000;
$color-txt-main-menu: 					#ffffff;
$color-txt-footer:  					#ffffff;

//link
$color-link-primary: 					#137a9a;

//lines
$color-line: 							#c2c2c2;
$color-line-secondary:					#eed466;

//bottons
$color-bt-bg:	 						#bf6c29;
$color-bt-bg-2:	 						#b86926;
$color-bt-txt:	 						#ffffff;

$color-txt-selected: 					#3c6e8f;

//blocks
$color-bg-box: 							#f5f5f5;
$color-bg-box-hightlight: 				#deeff5;
$color-bg-heading-box-primary: 			#3c6e8f;
$color-bg-heading-box-secondary: 		#bf6c29;
$color-bg-heading-box-txt:		 		#ffffff;
$color-bg-box2:							#d5d5d5;
$color-shadow: 							#DBDBDB;

//tabs
$color-heading-tabs:					#2c4f65;
// ==============================================

///global font-size =============================
$font-size-xxx-large: 					29px;
$font-size-xx-large: 					26px;
$font-size-x-large: 					20px;
$font-size-large: 						16px;
$font-size-tiny:	 					12px;

$font-size-regular: 					14px;
$font-size-regular-mobile:				15px;

$font-size-regular-rtl:					16px;
$font-size-regular-rtl-mobile:			16px;

//buttons
$font-size-bt: 							20px;
$font-size-bt-small:					15px;
$font-size-bt-tiny:						14px;

//Sidebar font-size
$font-size-sidebar-xxx-large: 			20px;
$font-size-sidebar-xx-large: 			18px;
$font-size-sidebar-x-large: 			15px;
$font-size-sidebar-regular: 			11px;
$font-size-sidebar-secondary: 			14px;

//tabs font-size
$font-size-sidebar-heading-tab:	 		15px;
$font-size-sidebar-tab:	 				12px;
$font-size-sidebar-item:				16px;
$font-size-content-heading-tab:	 		17px;
$font-size-content-tab:		 			13px;

//content
$font-size-content-item-heading: 		21px;
$font-size-content-txt: 				13px;

//Featured region font-size
$font-size-featured-large: 				29px;
$font-size-featured-x-large:			14px;

$font-support-bt:						22px;

//article list
$font-size-article-title: 				18px;
$font-size-article-txt: 				13px;
$font-size-article-date: 				14px;

//global line-height
$line-height-xxx-large: 				33px;
$fline-height-xx-large: 				30px;
$line-height-x-large: 					22px;
$line-height-large: 					15px;
$line-height-regular: 					20px;
$line-height-bt: 						20px;

//article list line-height
$line-height-article-title: 			20px;
$line-height-article-text:	 			16px;