// _base.scss imports _custom.scss, _vars.scss and other partials.
@import "base";

/* =============================================================================
 *   Base
 * ========================================================================== */


 /* ========================================================================= */

/* Wraps the main content column */
#content-wrapper {
  .container {
    background: $color-bg-general;
    @include box-shadow (0px, 0px, 20px, $color-shadow);
    padding-top: 20px;
  }
}

/* Footer wrapper */
#footer-wrapper {
  .container {
    background: $color-bg-footer;
    @include box-shadow (0px, 0px, 20px, $color-shadow);
  }
}


/* ===========================================================================
 *   Top BAR
 * =========================================================================== */

/* leaderboard-wrapper ======================================================= */
  #leaderboard-wrapper {
    background: $color-bg-leaderboard;
    border-bottom: 1px solid darken( $color-bg-leaderboard, 10% );
    .block {
      margin-bottom: 0px;
    }
  }

  .block-top-header-menu {
    float: left;
    margin-left: 23px;
    background: url('#{$path-to-images}/logo_topbar.png') no-repeat left center;
    .block-content {
      padding: 10px 0 8px 24px;
      @include clearfix ();
      ul.menu {
        margin: 0px;
        padding: 0px;
        li {
          float: left;
          border-right: 1px solid lighten( $color-bg-leaderboard, 10% );
          &:last-child {
              border-right:0px;
          }
          a {
            color: $color-txt-main-menu;
            font-size: $font-size-regular;
            margin: 0 10px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
/* =========================================================================== */

/* language-dropdown ========================================================= */
  .block-lang-dropdown {
    width: 290px;
    float: right;
    background: url('#{$path-to-images}/world_icon.png') no-repeat left center;
    .block-title {
      float: left;
      margin: 0;
      color: $color-txt-main-menu;
      text-transform: uppercase;
      font-size: $font-size-regular;
      line-height: $line-height-large;
      margin-top: 13px;
      margin-left: 6px;
    }
    .ijnet-language-dropdown {
      margin: 5px 0;
      float: right;
      .form-item {
        margin: 0;
        .dd-container {
          cursor: pointer;
          .dd-select {
            background: #FFF !important;
            border: 0px;
            border-radius: 0px;
            cursor: pointer;
            .dd-selected {
              padding: 4px 5px;
              .dd-selected-image {
                margin-top: 3px;
                margin-left: 3px;
                width: 23px;
                height: 14px;
              }
              .dd-selected-text {
                line-height: 20px !important;
                font-weight: normal;
                cursor: pointer;
              }
            }
          }
          .dd-options {
            width: 164px !important;
            box-shadow: 0px 0px 0px $color-line;
            border-top: 1px solid $color-line;
            margin-top: 9px;
            overflow: visible;
            margin-left: -1px;
            &:after {
              content: "";
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-bottom: 6px solid #fff;
              position: absolute;
              top: -6px;
              right: 20px;
            }
            &:before {
              content: "";
              width: 0;
              height: 0;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 7px solid $color-line;
              position: absolute;
              top: -8px;
              right: 19px;
            }
            li {
              a {}
              a.dd-option {
                cursor: pointer;
                padding: 2px 5px;
                &.dd-option-selected {
                  background: #F3F3F3;
                  .dd-option-image {
                    margin-top: 3px;
                    margin-left: 3px;
                    width: 23px;
                    height: 14px;
                  }
                  .dd-option-text {
                    font-weight: normal;
                  }
                }
                .dd-option-image {
                  margin-top: 3px;
                  margin-left: 3px;
                  width: 23px;
                  height: 14px;
                }
                .dd-option-text {
                  font-weight: normal;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }


 /* ========================================================================== */
/* =========================================================================== */

/* ==========================================================================
 *   Header
 * ========================================================================== */

/* Wraps all the branding elements, logo, name and slogan */
 /* Logo */
  #branding {
    float: left;
    width: 50%;
  }

  #logo {
    padding: 68px 0px 21px 3px;
    img {
      vertical-align: bottom;
    }
  }

  #header-wrapper .region-header {
    float: right;
  }
  .block-login-block {
    float: left !important;
    margin-bottom: 38px !important;
    background: url('#{$path-to-images}/register_block_bg.png') no-repeat 2px center;
    font-family: $signika-Light;
    font-size: $font-size-sidebar-xx-large;
    letter-spacing: -1px;
    width: 214px !important;
    clear: none !important;
    padding: 15px 0 23px 0;
    .block-content {
      text-align: center;
      label {
        font-weight: normal;
        color: $color-link-primary;
      }
      span {
        font-size: $font-size-tiny;
        margin: 0 5px;
      }
      a {
        text-decoration: underline;
      }
      .logged-block {
        a {
          font-size: 15px;
          &:first-child {
          }
        }
      }
    }
  }
  .block-support-ijnet {
    float: left !important;
    margin-bottom: 38px !important;
    background: url('#{$path-to-images}/suport_block_bg.png') no-repeat left center;
    height: 62px;
    width: 100px !important;
    clear: none !important;
    .block-inner {
      padding: 0px 20px;
      margin: 0px;
      text-align: center;
      .support-button {
        color: $color-bt-txt;
        margin-top: 8px;
        .support {
          line-height: 16px;
          font-size: $font-size-regular;
        }
        .support-ijnet {
          font-size: $font-support-bt;
        }
      }
    }
  }
  .i18n-ru .block-support-ijnet .block-inner .support-button .support {
    font-size: 10px;
  }

  #block-search-form {
    float: right;
    clear: both;
    .block-inner {
      margin: 0px 9px 0px 0px;
      .search-form { margin: 0px; }
      .form-item-search-block-form {
        float: left;
        margin: 0px;
        input {
          padding: 11px 9px 7px 9px;
          width: 224px;
        }
      }
      #edit-actions {
        float: left;
        input {
        }
      }
    }
  }

/* =============================================================================
 *   Footer
 * ========================================================================== */
  .region-footer {
    float: left;
    width: 100%;
    .footer {
      color: $color-txt-footer;
      padding: 44px 0px 20px 0px;
      .top-text {
        border-bottom: 1px solid lighten($color-bg-footer, 10%);
        padding-bottom: 5px;
        margin-bottom: 6px;
      }
      .bottom-text {
        span {}
        a { color: $color-txt-footer; }
      }
    }
  }


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}


.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}


/*
 * Generic styles for the more link
 */
.more-link {}


/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}


/*
 * Search results are an ordered list so reset the margin
 */
.page-search {
  .search-form {
    @include clearfix;
    background: $color-bg-ligth;
    padding: 20px;
    margin-top: -60px;
    .form-wrapper {
      width: 60%;
      margin: 0 20%;
      .form-item-keys {
        @include clearfix;
        display: block;
        label { 
          margin-top: 10px;
          font-size: $font-size-large;
          margin-bottom: 5px;
          display: block;
        }
        input { width: 100%; }
      }
      input {
        float: right;
      }
    }
  }
}
.search-results {
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid $color-line;
    &:last-child {
      border-bottom: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    h3 {
      margin-top: 20px;
      padding-left: 15px;
      background: url('#{$path-to-images}/iitem.png') no-repeat left 4px;
      margin-bottom: 4px;
      text-transform: uppercase;
    }
    .search-snippet-info {
      .search-snippet {}
      .search-info {}
    }
  }
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */

.nav {
  clear: both;
  margin: 0;
  background: url("#{$path-to-images}/bg_main_menu.png") repeat 0 0;
  border-bottom: 2px solid $color-line-secondary;

  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }

  li,
  ul.menu li {
    display: inline;
    float: left;
    list-style: none;
    padding: 0;
    height: 52px;
    border-bottom: 0px solid $color-transparent;
    font-family: $signika-Light;
    font-size: $font-size-x-large;
    @include transition(all, 0.2s, ease-in-out);
    &:hover,
    &.active {
        height: 49px;
        border-bottom: 3px solid $color-line-secondary;
      a {
        color: $color-line-secondary;
      }
    }
  }

  li a,
  ul.menu li a {
    display: block;
    margin: 0 15px;
    white-space: nowrap;
    padding: 18px 15px 13px 15px;
    color: $color-txt-main-menu;
    text-transform: uppercase;
    @include transition(all, 0.2s, ease-in-out);
    @include text-shadow (1px, 1px, 0px, #000);
    &:visited {}
    &:hover,
    &:focus {
      padding-bottom: 12px;
      text-decoration: none;
    }
  }

  .block {
    margin-bottom: 0;
  }
}

/* =============================================================================
 *   Responsive Menu
 * ========================================================================== */
.responsive-menus.responsified {
  margin: 0;
  background: url("#{$path-to-images}/bg_main_menu.png") repeat 0 0;
  border-bottom: 2px solid $color-line-secondary;
  span.toggler {
    display: block;
    margin: 0;
    white-space: nowrap;
    padding: 14px 15px 12px 15px;
    color: $color-txt-main-menu;
    text-transform: uppercase;
    font-family: $signika-Light;
    font-size: $font-size-x-large;
    text-align: left;
    background: none;
    border-bottom: 0px !important;
    @include transition(all, 0.2s, ease-in-out);
    @include text-shadow (1px, 1px, 0px, #000);
    @include border-radius (0px);
    @include box-shadow (0px, 0px, 0px, transparent);
    &:visited {}
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .responsive-menus-simple {
    border-top: solid 2px $color-line-secondary;
    @include border-radius (0px);
    .primary-menu-wrapper {
      margin: 0px;
      ul {
        li {
          &:hover,
          &.active { background: $color-txt-primary-darck; }
          &:last-child {
            a { border-bottom: 0px !important; }
          }
          a {
            color: $color-txt-main-menu;
            display: block;
            padding: 13px;
            margin: 0;
            text-align: left;
            color: $color-txt-main-menu;
            border-bottom: 1px solid #bbb;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            text-decoration: none;
            text-transform: uppercase;
            font-size: $font-size-large;
          }
        }
      }
    }
  }
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  padding-left: 15px;

  ul {
    padding-left: 15px;

    ul {
      ul {}
    }
  }

  li {
    margin: 0;

    &.collapsed,
    &.expanded,
    &.leaf {}

    a {

      &:link,
      &:visited {}

      &:active,
      &.active {}

      &:hover,
      &:focus {}
    }

    &.active a,
    &.active-trail a {}

    &.first,
    &.last {}
  }
}


/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}


/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {

  .page-links {}

  .page-previous {}

  .page-next {}

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}


/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }

  li.crumb-first {}

  li.crumb-last {}

  a {

    &:link,
    &:visited {}

    &:active,
    &.active {}

    &:hover,
    &:focus {}
  }
}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
  &.pager-ellipsis {
    display: none;
  }
  &.pager-item a {
    color: $color-heading-primary;
    font-size: $font-size-bt;
  }
  &.pager-previous a,
  &.pager-next a {
    @include buttons (100px, color-brown, small);
  }
  &.pager-current {
    @include buttons (100px, color-black, small);
    padding: 3px 9px !important;
  }
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}


.block ul.pager li {
  margin: 0;
}

/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $color-bg-general;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $color-bg-general;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}


ul.primary {
  border-bottom-color: $color-line;
  margin: 20px 0;
  padding: 0 0 0 5px;

  li {
    display: block;
    float: left;
    margin: 0 1px -1px;

    &.active a {
      color: $color-heading-primary;
      border-bottom-color: $color-bg-box;
      background: $color-bg-box;
      &:hover {
        border-bottom-color: $color-bg-box;
        background: $color-bg-box;
      }
    }
    a {
      color: lighten($color-heading-primary, 30%);
      background-color: $color-bg-box;
      border-color: $color-line;
      border-style: solid solid none solid;
      box-shadow: inset 0px 3px 7px -3px #CAC9C9;
      margin-right: 1px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 1.5em;
      line-height: 1.5em;

      &:hover,
      &:focus {
        background-color: $color-bg-box;
        color: $color-heading-primary;
      }
    }
  }

  li.active {
    a,
    a:hover,
    a:focus {
    }
  }
}


ul.secondary {
  border-bottom: 1px solid $color-line;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}

/* =============================================================================
 *   Tabs (quicktabs)
 * ========================================================================== */
.sidebar-tabs {
  @include quicktabs (sidebar);
  .category-tabs-list { @include category-tabs-list; }
  .author-tabs-list { @include author-tabs-list; }
}
.content-tabs {
  @include quicktabs (content);
}
.block-quicktabs {}





/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;

  li {}
}


/* =============================================================================
 *  Field Styling
 * ========================================================================== */

/*
 * Wrapper for any field
 */
.field {}


/*
 * Above and inline classes are on the field wrapper
 */
.field-label-above {}


/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
.field-label-inline {}


/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: $signika-Regular;
  line-height: inherit;
  margin-bottom: 0;
}


/*
 * Field types (Core)
 */

/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
.field-type-image {
  .caption {}
  .full-caption {}
  .teaser-caption {}
}


/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/* Main wrapper for most blocks, block_system_main does not have it */
.block {
  margin-bottom: 20px;
}
.block-default {
  @include block-skin (skin-default);
}
.block-default-no-border {
  @include block-skin (skin-default, false); //"false" no border
}
.block-skin-brown {
  @include block-skin (skin-brown);
}

.block-skin-light {
  @include block-skin (skin-light);
}

// Author Block ================================================================
  .block-about-author {
    .avatar {
      float: right;
      width: 41%;
      a {
        display: block;
        line-height: 0px;
        border: solid 3px $color-bg-heading-box-primary;
        img {
          width: 100%;
        }
      }
    }
    .author-name,
    .job-name,
    .organization,
    .views-field-nothing {
      float: left;
      width: 56%;
      clear: left;
    }

    .author-name {
      margin-bottom: 5px;
      padding-top: 0px;
      a {
        font-size: $font-size-sidebar-xxx-large;
        color: $color-bg-heading-box-primary;
      }
    }
    .job-name {
      line-height: $line-height-large;
      margin-bottom: 3px;
    }
    .organization {
      margin-bottom: 10px;
    }
    .views-field-nothing {
      margin-top: 12px;
    }
    .bio {
      clear: both;
      padding-top: 5px;
      p { margin-bottom: 0; }
    }
    .button-tiny {
      margin-bottom: 9px;
      border: 0;
      clear: both;
    }
  }

// Advertusements ==============================================================
  .view-advertisement {
    .view-header {
      h3 {
        text-align: center;
        margin: 0;
        padding: 0px;
        color: $color-txt-primary;
        font-size: $font-size-sidebar-x-large;
        font-weight: normal;
      }
      p {
        margin-bottom: 0px;
        line-height: $line-height-large;
        margin-top: 3px;
      }
    }
    .view-content {
      .advertusement-item-list {
        margin: 0 17px 20px 17px;
        border-bottom: 1px solid $color-line;
        padding-bottom: 20px;
        p {
          margin-bottom: 0px;
        }
        .views-field-field-image-ad {
          text-align: center;
        }
        .views-field-title {
          a {
            font-weight: bold;
            color: $color-txt-primary;
          }
        }
        .views-field-body {
          p {
            color: $color-link-primary;
          }
        }
        &.views-row-first {
          margin-top: 10px;
        }
        &.views-row-last {
          border-bottom: 0px;
          padding-bottom: 0px;
          margin-bottom: 10px;
        }
      }
    }
  }

// view-cima Block =============================================================
  .view-id-cima {
    border: 1px solid $color-line;
    .view-header {
      height: 46px;
      border-bottom: 1px solid $color-line;
      p { margin-bottom: 0px; }
    }
    .cima-item-list {
      padding: 10px 12px;
      border-bottom: 1px solid $color-line;
      .view-content {
        .views-field-title {}
      }
      &.views-row-last {
        border-bottom: 0px;
      } 
    }
    .view-footer {
      border-top: 1px solid $color-line;
      padding: 10px;
      p {
        margin-bottom: 0px;
      }
    }
  }

// twitter Block ================================================================

  .view-id-twitter {
    .view-header {
      position: relative;
      .tw-follow {
        margin: 0;
        text-align: center;
        top: 40px;
        font-size: 17px;
        position: absolute;
        width: 100%;
        color: #3c6e8f;
        a {
          color: #479FDD;
        }
      }
    }
    .view-content {
      padding: 40px 15px 0px 15px;
      &>div { 
        &:last-child { 
          .twitter-status { 
            border: 0px; 
          } 
        }
      }

      .twitter-status {
        padding: 0px 0px 10px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #F1F1F1;
        
        .avatar {
          a { 
            display: block;
            line-height: 0;
            border: 1px solid #ccc;
          }
        }

        .timestamp {
          margin-top: 4px;
        }
        .name-handle {
          .name {
            padding-top: 6px;
            display: block;
          }
          .handle {
            line-height: 14px;
            display: block;
          }
        }
        .text {
          margin: 7px 0px 0px 0px;
          font-size: 13px;
          line-height: 16px;
          a { color: #479FDD; }
        }
        .actions { display: none; }
      }


    }
  }

// Social Block ================================================================
  .pane-jsonblocks-social-block {
    .block-title {
      font-size: $font-size-x-large;
      line-height: $line-height-x-large;
      color: $color-txt-primary-darck;
      text-transform: uppercase;
      text-align: center;
      margin: 0px 0px 14px 0px;
    }
  }
  .social-icons {
    margin: 0 auto;
    display: table;
    .social-icon {
      width: 37px;
      height: 37px;
      float: left;
      margin-right: 7px;
      @include transition(all, 0.2s, ease-in-out);
      &:hover { opacity: 0.8; filter: alpha(opacity = 80);/*IE*/ }
      &:last-child { margin-right: 0; }
    }
    .social-icon-facebook { background: url("#{$path-to-images}/icon_fb.png")     no-repeat 0 0; }
    .social-icon-twitter  { background: url("#{$path-to-images}/icon_tw.png")     no-repeat 0 0; }
    .social-icon-youtube  { background: url("#{$path-to-images}/icon_yt.png")     no-repeat 0 0; }
    .social-icon-in       { background: url("#{$path-to-images}/icon_in.png")     no-repeat 0 0; }
    .social-icon-gplus    { background: url("#{$path-to-images}/icon_g.png")      no-repeat 0 0; }
    .social-icon-rss      { background: url("#{$path-to-images}/icon_rss.png")    no-repeat 0 0; }
    .social-icon-weibo    { background: url("#{$path-to-images}/icon_weibo.png")  no-repeat 0 0; }
    .social-icon-vk       { background: url("#{$path-to-images}/icon_vk.png")     no-repeat 0 0; }
  }


//Mail subscribe
  .mail-subscribe {
    .dropdown {
      position: relative;
      .clicker {
        padding: 5px 0;
        margin: 25px auto 10px auto;
        width: 277px;
        text-align: center;
        background: url("#{$path-to-images}/arrow_down.png") no-repeat 251px center;
        cursor: pointer;
        &.active { background: url("#{$path-to-images}/bt_close.png")   no-repeat 251px center; }
        h4 {
          color: $color-txt-primary-darck;
          margin: 0px;
          line-height: 20px;
          letter-spacing: 1px;
          margin-right: 32px;
          height: 20px;
        }
      }
      .inner-dropdown {
      	@include clearfix;

        background: $color-bg-box-hightlight;
        margin-top: 20px;
        @include box-shadow (1px, 1px, 1px, $color-shadow);
        @include border-radius (15px);
        &:before {}

        .msj-submit {
          position: absolute;
          bottom: 7px;
          font-size: 12px;
          left: 24px;
          right: 104px;
          line-height: 15px;
          &.success { 
          }
          &.sorry {
            font-size: 9px;
            color: #F00;
          }
        }
        .subscribe-form {
          padding: 20px 20px 45px 20px;

          p {
          	text-align: center;
          	font-size: 18px;
          }
          .form-item {
            margin: 0px 0px 10px 0px;
            label { 
            	font-weight: normal;
            	font-size: 15px;
  						text-transform: uppercase;
            }
            input { width: 100%; }
          }
          input[type="submit"] {
            float: right;
            margin-top: 0px;
            margin-bottom: 10px;
            font-size: 16px;
  					padding: 2px 13px;
					  border-radius: 11px;
					  -ms-border-radius: 11px;
  					-moz-border-radius: 11px;
					  -webkit-border-radius: 11px;
          }
          a.archive-link {
            display: block;
            width: 116px;
            float: left;
            margin-top: 5px;
            font-size: 16px;
          }
        }
        .sorry,
        .success {
          padding: 20px;
        }
      }
    }
  }

  // Mail subscribe en videos
  body.section-videos {
    .mail-subscribe {
	    .dropdown {
	      .clicker {
	        &.active {}
	        h4 {}
	      }
	      .inner-dropdown {
	        margin-top: 3px;
	        position: absolute;
	        z-index: 10;
	        right: 0;
	        left: 0;
	        @include box-shadow (1px, 1px, 1px, $color-shadow);
	        @include border-radius (5px 5px 5px 5px);
	        &:before {
	          content: "";
	          width: 0;
	          height: 0;
	          border-left: 6px solid rgba(0, 0, 0, 0);
	          border-right: 6px solid rgba(0, 0, 0, 0);
	          border-bottom: 6px solid $color-bg-box-hightlight;
	          position: absolute;
	          top: -6px;
	          right: 18px;
	        }
	        .msj-submit {
	          &.success {}
	          &.sorry {}
	        }
	        .subscribe-form {
	          .form-item {
	            label {}
	            input {}
	          }
	          input[type="submit"] {}
	          a.archive-link {}
	        }
	        .sorry,
	        .success {}
	      }
	    }
	  }
  }

// Latest Posts Block ==========================================================
  .latest-posts-block {
    background: url('#{$path-to-images}/bg_latest_post_en.jpg') no-repeat left center;
    height: 260px;
    width: 280px;
    color: $color-bt-txt;
    position: relative;
    margin: 0 auto;
    .inner-block {
      .top-txt {
        label {
          background: $red;
          float: left;
          clear: both;
        }
      }
      .txt {}
      a {
        display: block;
        width: 180px;
        padding: 10px 44px 10px 16px;
        color: $color-bt-txt;
        font-size: 16px;
        margin: 0px 0px 0px -120px;
        position: absolute;
        bottom: 30px;
        left: 50%;
        @include transition (all, 0.2s, ease-in-out);
        background: url('#{$path-to-images}/bt_bg_latest_post.png') no-repeat left center;
        &:hover {
          background: url('#{$path-to-images}/bt_bg_latest_post_hover.png') no-repeat left center;
        }
      }
    }
  }

 

/* =============================================================================
 *   Node Styling
 * ========================================================================== */

#panel-page-title,
#page-title {
  margin: 10px 0px 20px 0px;
  border-bottom: 1px solid $color-line;
}
//block title
#block-blockify-blockify-page-title { 
  margin-bottom: 0;
  //min-height: 122px;
  .block-content {
    border-bottom: 1px solid $color-line;
    margin-bottom: 20px;
    h1 {
      margin-bottom: 0px;
      border: 0px;

    }
  }
}
.node {
  margin-bottom: 20px;

  &.node-promoted {}
  &.node-sticky {}
  &.node-by-viewer {}
  &.node-teaser {}
  &.node-full {}
  &.odd {}
  &.even {}

  .content .node-title {}
  .user-picture {}
  .submitted {
    .username {}
    time {}
  }

  ul.links {

    li {}
    li a {}

    li.node-read-more a {}
    li.comment-add a {}
    li.comment-comments a {}
    li.comment-new-comments a {}
    li.blog-sernames-blog a {}
    li.print-html a {}
    li.print-email a {}
    li.print-pdf a {}
  }
}

.content {
  color: $color-txt-primary-darck;
  .author {
    margin-bottom: 27px;
    font-size: $font-size-large;
    span {
      color: $color-txt-primary;
    }
  }
  img {
    //margin: 0px 10px 10px 10px; 
  }
}

/* News ===================================================================== */
.view-display-id-news_popular,
.view-display-id-news_teaser_list {
  .view-content { @include clearfix; }
  .view-footer { text-align: right; }
}

.node-type-news {
  .field-name-field-image {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

/* Category ================================================================= */
  .field-type-taxonomy-term-reference {
    margin: 40px 0 34px 0;
    float: left;
    width: 100%;
    h2.field-label {
      float: left;
      margin: 0px;
      text-transform: uppercase;
      color: $color-txt-primary;
    }
    ul.field-items {
      margin: 0px;
      padding: 0px;
      float: none;
      display: inline;
      li{
        margin: 0px;
        padding: 0px;
        float: left;
        list-style-type: none;
        a {
          @include category;
        }
      }
    }
  }


/* Category ================================================================= */
  .region-highlighted {
    .field-type-taxonomy-term-reference {
      margin: 0px 0px -12px 0px;
      float: left;
      width: 100%;
    }
  }
/* ========================================================================== */

/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;
  clear: both;

  h2 {
    &.comment-title {
      margin: 0 0 26px 0;
      font-size: $font-size-xxx-large;
      text-transform: uppercase;
    }

    &.comment-form {
      margin: 0;
    }
  }
}


/*
 * Wrapper for a single comment
 */
.comment {
  border: 1px solid $color-line;
  padding: 19px 26px;
  @include border-radius(6px);
  color: $color-txt-primary;
  margin-bottom: 32px;
  .comment-title {
    line-height: 17px;
    margin: 0 0 6px 0;
    a {
      color: $color-bg-heading-box-primary;
      font-size: $font-size-large;
    }
  }

  &.first {}

  &.last {}

  &.odd {}

  &.even {}

  .user-picture {}

  .submitted {
    font-style: italic;
    margin: 5px 0;
    p {}

    .username {
      color: $color-txt-primary-darck;
    }

    time {}
  }

  .user-signature {}

  ul.links {}
}


/*
 * Comment states
 */
.comment-new {}

.comment-by-anonymous {}

.comment-by-node-author {}

.comment-by-viewer {}

.comment-title-hidden {}

.comment-with-picture {}

.comment-with-signature {}


/*
 * Preview of the comment before submitting new or updated comment
 */
.comment-preview {}


/*
 * "New" marker for comments that are new for the current user
 */
.new {
  color: $highlight;
}


/*
 * Nested comments are indented
 */
.indented {
  margin-left: 0px;
  .comment {
    margin-left: 40px;
  }
}


/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {

  input.error,
  textarea.error,
  select.error {
    border: 1px solid $highlight;
  }

  label {
    font-weight: 700;
  }

  label.option {
  }

  .description {
    font-size: 0.85em;
  }

  &.form-checkboxes ,
  &.form-radios {
  }
}


/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: $highlight;
}


/*
 * The submit button
 */
.form-submit {
}


.container-inline {
  div,
  label {
    display: inline;
  }
}

/*
 * Define consistent borders
 */
fieldset {
  border: 1px solid $color-line;
}

/*
 * Tips for Drupal's input formats
 */
.tips {}


/*
 * Buttons used by contrib modules like Media
 */
a.button {
  @include appearance(button);
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;

  &.sticky-header {
    z-index: 10;
  }
}


table,
thead,
tbody,
tr,
th,
td {
  border-color: $color-line;
}


table,
td,
th {
  vertical-align: middle;
}


caption,
th,
td {
  text-align: left;
}


thead tr {
  font-weight: 700;
  background-color: $medium_dark;
}


td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}


tbody {}


tbody tr {
  border-top: 1px solid $color-line;
}


tr {

  &.odd {
    background: $color-bg-general;
  }

  /* Table row striping */
  &.info,
  &.even,
  &:nth-child(2n+2)  {
    border-bottom: 0;
    background-color: $ultralight;
  }

  &.drag {}

  &.drag-previous {}

  &.odd td.active {
    background-color: $light;
  }

  &.even td.active {
    background-color: $medium_light;
  }
}

.lt-ie8 tr {

  &.even,
  &.odd {

    th,
    td {}
  }
}


/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {
  .created,
  .posts,
  .topics,
  .last-reply,
  .replies,
  .pager {
     white-space: normal;
  }
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

div {
  &.messages {
  // Left and right margin are set by the global gutter width
    margin:0px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.status {}
  &.warning {}
}

tr.warning {}

div.error,
tr.error {}

.error {}

.warning {}


/*
 * Unpublished nodes
 */
.node-unpublished {
  //color: transparent;
  position: relative;
  
  &:before {
    content: "Unpublished";
    position: absolute;
    color: #FFF;
    background: red;
    font-size: 23px;
    right: 0;
    padding: 10px 10px;
  }
  .content {
    filter: alpha(opacity=50); // IE 5-7
    opacity: 0.5;
  }

}
.node-unpublished,
.comment-unpublished {
}


.node-unpublished,
.comment-unpublished {

  p.unpublished {
    @include unpublished;
  }
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {
  .container {
    padding: 40px 0;
  }

  #site-name,
  #page-title {
    margin: 0;
  }
}


.db-offline {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 960px;
  }

  div.messages {
    margin: 0;
  }

  #content {
    padding: 20px 0;
  }
}
div.messages {
  word-wrap:break-word;
  //display: none; //BORRAAAAAAAAAAAAAAAAAAAAAAR!!!!
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

.profile .user-picture {
  float: left;
  margin: 0 1em 1em 0;
  width: 183px;
  height: 172px;
  border: 3px solid #eed466;
  z-index: 99999;
  position: relative;
}

// Admin menu overrides
#admin-menu {
  margin: 0;
  padding: 0;
}

// Devel Module
.dev-query {
  background: $light;
  padding: 30px;
}

// Styleguide module tweaks
#styleguide-header {
  padding: 0 10px;
  .item-list {
    font-family: $signika-Regular;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}


/* =============================================================================
 *   Video Page Layout
 * ========================================================================== */

 #main-content-header #page-title {
  display: none;
 }

 .page-videos {
    .region+.region+.region.region-two-66-33-first { width: 100%; }
    .region+.region+.region+.region.region-two-66-33-second { width: 0px }
    .pane-views-videos-related-videos-landing .block-inner { margin-left: 0; padding-left: 20px; margin-top: 68px; }
    .view-display-id-featured_video { margin-right: -20px; }
    .page-videos .frist-block {  }
 }

/* =============================================================================
 *   Video LANDING
 * ========================================================================== */
.pane-page-title.block {
  margin-bottom: 0px;
}
.pane-fe-videos-fe-videos-search {
  margin-bottom: 0px;
}

.videos-landing-header {
  height: 142px;
  .header {
    float: left;
    width: 50%;
    .header-inner {
      margin: 0px 10px;
    }
  }
  .topic-select {
    float: left;
    width: 50%;
    .topic-select-inner {
      margin: 0px 10px;
      h3 {
        margin-top: 0px;
      }
      #topic-dropdown {
        width: 100%;
        float: left;
        margin-right: 10px;
      }
      .search {
        margin-top: 18px;
        float: right;
      }
    }
  }
}

//FEATURED VIDEO
.pane-views-videos-related-videos-landing .block-inner,
.view-display-id-featured_video {
  background: $color-bg-ligth;
  height: 680px;
  .video-title {
    margin-top: 0px;
  }
  iframe { width: 100%; }
}
.view-display-id-featured_video {
  padding: 0px 0px 15px 15px;
  .view-header { padding-top: 15px; }
  .view-content {
    .video-title {
      font-size: $font-size-x-large;
      line-height: $line-height-x-large;
      font-family: $signika-Light;
      font-weight: bold;
      margin: 10px 0 5px 0;
      a { color: $color-heading-secondary; }
    }
  }
}
.view-display-id-related_videos_landing {
  margin: 0 15px;
}
.pane-views-videos-related-videos-landing .block-inner {
  padding-top: 15px;
  .views-row {
    margin-bottom: 30px;
    h2 {
      @include head-teaser-list ();
    }
  }
}

//VIDEO LIST
.pane-quicktabs-top-stories-on-ijnet {
  margin-bottom: 80px;
}
.video-list {
  @include video-list;
}
.view-display-id-news_teaser_list {
  .buttons {
    clear: both;
    float: right;
  }
}

/* =============================================================================
 *   Opportunities LANDING
 * ========================================================================== */
.views-exposed-widgets {
  background: $color-bg-ligth;
  padding: 15px;
  margin-bottom: 40px;
  #edit-search-title-wrapper {
    clear: both;
    float: none;
    padding: 0;
    h3 {
      margin: 0;
    }
  }
  #edit-field-category-tid-wrapper,
  #edit-field-region-tid-wrapper {
    width: 32%;
    padding-right: 3%;
    select { width: 100%; }
  }

  #edit-title-wrapper {
    width: 67%;
    padding: 2% 2% 0 0;
    input { width: 100%; }
  }
  #edit-keys-wrapper {
    padding-right: 0px;
    width: 242px;
    input { width: 100%; }
  }
  .views-submit-button {
    float: right;
    padding: 28px 0px 0px 0px;
    width: 31%;
    text-align: right;
    .form-submit {
      margin: 0;
    }
  }
}

.opportunities-list {
  @include opportunities-list ();
}

/* =============================================================================
 *   Opportunities Detail
 * ========================================================================== */
.field-name-field-deadline {
  background: #F8F6EC url('#{$path-to-images}/calendar_icon.jpg') no-repeat 10px center;
  padding: 12px 61px;
  margin-bottom: 20px;
  margin-top: 26px;
  h2.field-label {
    margin: 0;
    float: none;
    font-size: $font-size-large;
    margin-left: 5px;
  }
  .field-items {
    margin-left: 5px;
    span { text-transform: uppercase; }
  }
}


/* =============================================================================
 *   Latest story
 * ========================================================================== */
.view-display-id-top_story_home {
    .view-content>div>a {
      display: block;
      line-height: 0;
      img { 
        margin-bottom: 10px;
        width: 100%;
      }
      h2 { font-size: 30px; }
    }
  }

.latest-story {
  h2 {
    margin-top: 0px;
    padding: 0 15px;
  }
  .author,
  p {
    padding: 0 15px;
    margin-bottom: 10px;
  }
}

/* =============================================================================
 *   Chat
 * ========================================================================== */

.section-chats { //body class
  .content {
    .chat-full-date {
      margin-bottom: 2px;
      font-size: $font-size-large;
      font-weight: bold;
    }
  }
  .field-name-body iframe {width: 100%;}
  .field-name-field-chat-description {
    margin-bottom: 30px;
  }
}

/* =============================================================================
 *   About
 * ========================================================================== */

 .staff-list {
  @include staff-list ();
 }



.view-display-id-opportunities_landing {
  .view-header {
    margin-bottom: 30px;
  }  
}


/* =============================================================================
 *   User Profile
 * ========================================================================== */

.section-users {
  #content {
    .profile {
      @include clearfix;
      .field-name-field-bio {
        width: 100%;
        .field-items { 
          margin-right: 183px;
          padding-right: 20px;
        }
      }
      .user-picture {
        margin: 0px 0 0 -183px;
        border: 0px;
        float: right;
        width: 183px;
        a { 
          display: block;
          line-height: 0em;
          border: 2px solid;
          text-align: center;
        }
      }
      .twitter_link {
        float: left;
        width: 64%;
      }
    }
  }
}


/* =============================================================================
 *   THE WINSHIP LEGACY BLOCK
 * ========================================================================== */
.winship-legacy {
  .winship-legacy-inner {
    .block-title {
      text-align: center;
      color: $color-bg-heading-box-txt;
      text-transform: uppercase;
      font-size: $font-size-sidebar-xx-large;
      margin: 0;
      background: $color-bg-heading-box-primary;
    }
    .content {
      background: #3f525e;
      position: relative;
      img {
        display: table;
        margin: 0 auto;
      }
      p {
        position: absolute;
        bottom: 60px;
        color: #fff;
        margin: 0 25px;
        line-height: 19px;
      }
      a {
        position: absolute;
        bottom: 17px;
        right: 25px;
        @include buttons ($size:"small");
        box-shadow: 0px 0px 0px;
      }
    }
  }
}


.article-item-list .item-list-topic .field-type-taxonomy-term-reference,
#block-node-fields-block-1 {  }


/* =============================================================================
 *   Contact form
 * ========================================================================== */
 .page-contact-ijnet #block-blockify-blockify-page-title {
  margin-bottom: 10px;
  min-height: initial;
 }
#ijnet-salesforce-contact-form {
  padding: 14px 20% 20px 20px;
  background: #f8f6ec;
  .form-item-first-name,
  .form-item-last-name,
  .form-item-organization-name,
  .form-item-position { @include form-width (50%); }
  .form-item-personal-email { @include form-width (100%); }
  .form-item-work-email { @include form-width (100%); }

  .form-item-mobile,
  .form-item-twitter-handle { @include form-width (50%); }

  .form-item-mailing-address { @include form-width (100%); }
  .form-item-city { @include form-width (100%); }
  .form-item-country { @include form-width (100%); }
  
  .description,
  .form-item-receive-updates {
    clear: both;
  }
}



/* =============================================================================
 *   FaceBook block
 * ========================================================================== */
 .facebook-like {
  .view-content {
    @include clearfix;
  }
  .fb-like {
    margin-left: 55px;
    margin-top: 5px;
    float: left;
    clear: both;
  }
  .logo {
    img { 
      float: left;
      margin-top: 2px;
      margin-right: 5px;
    }
    a {
      color: #354C8C;
      font-size: 16px;
      line-height: 16px;
    }
  }
 }

/* =============================================================================
 *   Email bulletin archive (newsletter)
 * ========================================================================== */
.page-email-bulletin-archive {
  table, thead, tbody, tr, th, td {
    border: 0px;
    padding: 0;
    margin: 0;
    h4 {
      margin-top: 10px !important;
    }
  }
  .news-social {
    padding: 0 !important;
    a {
      display: inline-block;
      line-height: 0;
    }
  }
  table table table>tbody>tr>td{
    padding: 0 10px;
  }
}
//BUELLETIN EMAIL ARCHIVE LIST
.view-newsletter-archive {
  margin: -16px 0;
  .view-grouping {
    .view-grouping-header {
      background: #E6E6E6;
      padding: 6px 15px;
      font-size: 19px;
      color: #686868;
      margin: 0px -15px -1px -15px;
      border-bottom: 1px solid $color-line;
      border-top: 1px solid $color-line;
      cursor: pointer;
      @include transition(all, 0.2s, ease-in-out);
      &:hover,
      &.open {
        background: #303030;
        color: #C7C7C7;
        border-bottom: 1px solid #303030;
        border-top: 1px solid #303030;
        border-left: 1px solid #303030;
        margin: 0px -16px -1px -16px;
      }
    }
    .view-grouping-content {
      margin: 0 -15px;
      .item-list {
        border-bottom: 1px solid $color-line;
        padding: 0px;
        &:last-child { 
          border: 0px; 
        }
        h3 { 
          text-transform: uppercase;
          margin-bottom: 0;
          background: #F7F7F7 url("../images/iitem.png") no-repeat 15px 11px;
          cursor: pointer;
          font-size: 14px;
          padding: 8px 30px 5px 30px;
          text-shadow: 0px 0px 0px;
          font-weight: normal;
        }
        ul {
          list-style-type: none;
          padding: 0px 0px 0px 28px;
          margin: 5px 0px 5px 0px;
          li {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}


//section-knight-media-innovators 
.section-knight-media-innovators {
  #block-blockify-blockify-page-title {
    h1 {
      text-transform: uppercase;
      font-size: 27px;
    }
  }
  #main-content {
    //margin-top: -110px;
    #block-system-main {
      h3 {
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 2px;
      }
    }
  }  
}
#block-jsonblocks-knight-foundation {
  .knight-foundation {
    background-color: #2c2c2c;
    padding: 20px;
    p {
      color: #FFF;
      margin-bottom: 0;
      padding: 0px;
      font-size: 15px;
      a {
        color: #92D7EC;
      }
      a:hover {
        color: #137a9a;
      }
    }
  }
}
#block-quicktabs-knight-foundation {
  .block-title {
    left: 22px;
  }

  //tab twitter
  #quicktabs-tabpage-knight_foundation-1 {
    .tw-follow,
    .block-title { display: none; }
    .view-content {
      border: 0px;
      padding-top: 15px;
      &>div {
        .twitter-status {
          background: transparent;
          border-bottom: 1px solid $color-line;
        }
        &:last-child {
          .twitter-status {
            border-bottom: 0px;
          }
        }
      }
    }
  }
}