// _base.scss imports _custom.scss, _vars.scss and other partials.
@import "base";

/* =============================================================================
 *   Base
 * ========================================================================== */


 /* ========================================================================= */

/* Wraps the main content column */
#content-wrapper {
  .container {
    background: $color-bg-general;
    @include box-shadow (0px, 0px, 20px, $color-shadow);
    padding-top: 20px;
  }
}

/* Footer wrapper */
#footer-wrapper {
  .container {
    background: $color-bg-footer;
    @include box-shadow (0px, 0px, 20px, $color-shadow);
  }
}


/* =============================================================================
 *   Top BAR
 * ========================================================================== */

/* leaderboard-wrapper ====================================================== */
  #leaderboard-wrapper {
    background: $color-bg-leaderboard;
    border-bottom: 1px solid darken( $color-bg-leaderboard, 10% );
    .block {
      margin-bottom: 0px;
    }
  }

  .block-top-header-menu {
    float: left;
    margin-left: 23px;
    background: url('#{$path-to-images}/logo_topbar.png') no-repeat left center;
    .block-content {
      padding: 10px 0 8px 24px;
      ul.menu {
        margin: 0px;
        padding: 0px;
        li {
          float: left;
          border-right: 1px solid lighten( $color-bg-leaderboard, 10% );
          &:last-child {
              border-right:0px;
          }
          a {
            color: $color-txt-main-menu;
            font-size: $font-size-regular;
            margin: 0 10px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
/* =========================================================================== */

/* language-dropdown ========================================================= */
  .block-lang-dropdown {
    width: 290px;
    float: right;
    background: url('#{$path-to-images}/world_icon.png') no-repeat left center;
    .block-title {
      float: left;
      margin: 0;
      color: $color-txt-main-menu;
      text-transform: uppercase;
      font-size: $font-size-regular;
      line-height: $line-height-large;
      margin-top: 13px;
      margin-left: 6px;
    }
    .ijnet-language-dropdown {
      margin: 5px 0;
      float: right;
      .form-item {
        margin: 0;
        .dd-container {
          .dd-select {
            background: #FFF !important;
            border: 0px;
            border-radius: 0px;
            .dd-selected {
              padding: 4px 5px;
              .dd-selected-image {
                margin-top: 3px;
                margin-left: 3px;
                width: 23px;
                height: 14px;
              }
              .dd-selected-text {
                line-height: 20px !important;
                font-weight: normal;
              }
            }
          }
          .dd-options {
            width: 164px !important;
            box-shadow: 0px 0px 0px $color-line;
            border-top: 1px solid $color-line;
            cursor: pointer;
            margin-top: 9px;
            overflow: visible;
            margin-left: -1px;
            &:after {
              content: "";
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-bottom: 6px solid #fff;
              position: absolute;
              top: -6px;
              right: 20px;
            }
            &:before {
              content: "";
              width: 0;
              height: 0;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 7px solid $color-line;
              position: absolute;
              top: -8px;
              right: 19px;
            }
            li {
              a {}
              a.dd-option {
                cursor: pointer;
                padding: 2px 5px;
                &.dd-option-selected {
                  .dd-option-image {
                    margin-top: 3px;
                    margin-left: 3px;
                    width: 23px;
                    height: 14px;
                  }
                  .dd-option-text {
                    font-weight: normal;
                  }
                }
                .dd-option-image {
                  margin-top: 3px;
                  margin-left: 3px;
                  width: 23px;
                  height: 14px;
                }
                .dd-option-text {
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
    }
  }


 /* ========================================================================== */
/* =========================================================================== */

/* =============================================================================
 *   Header
 * ========================================================================== */


/* Wraps all the branding elements, logo, name and slogan */
 /* Logo */
#branding { float: left; }

#logo {
  padding: 68px 0px 21px 3px;
  img {
    vertical-align: bottom;
  }
}

#header-wrapper .region-header {
  float: right;
}
.block-login-block {
  float: left;
  margin-bottom: 38px !important;
  background: url('#{$path-to-images}/register_block_bg.png') no-repeat left center;
  font-family: $signika-Light;
  font-size: $font-size-sidebar-xx-large;
  letter-spacing: -1px;
  .block-content {
    padding: 17px 10px 24px 10px;
    label {
      font-weight: normal;
      color: $color-link-primary;
    }
    span {
      font-size: $font-size-tiny;
      margin: 0 5px;
    }
    a {
      text-decoration: underline;
    }
  }
}
.block-support-ijnet {
  float: left;
  margin-bottom: 38px !important;
  background: url('#{$path-to-images}/suport_block_bg.png') no-repeat left center;
  height: 62px;
  .block-inner {
    padding: 0px 20px;
    margin: 0px;
    text-align: center;
    .support-button {
      color: $color-bt-txt;
      margin-top: 8px;
      .support {
        line-height: 16px;
      }
      .support-ijnet {
        font-size: $font-support-bt;
      }
    }
  }
}
#block-search-form {
  float: right;
  clear: both;
  .block-inner {
    margin: 0px 7px 0px 0px;
    .search-form { margin: 0px; }
    .form-item-search-block-form {
      float: left;
      margin: 0px;
      input {
        padding: 9px;
        width: 219px;
      }
    }
    #edit-actions {
      float: left;
      input {
      }
    }
  }
}

/* =============================================================================
 *   Footer
 * ========================================================================== */

.region-footer {
  float: left;
  width: 100%;
  .footer {
    color: $color-txt-footer;
    padding: 44px 0px 0px 0px;
    .top-text {
      border-bottom: 1px solid lighten($color-bg-footer, 10%);
      padding-bottom: 5px;
      margin-bottom: 6px;
    }
    .bottom-text {
      span {}
      a { color: $color-txt-footer; }
    }
  }
}


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}


.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}


/*
 * Generic styles for the more link
 */
.more-link {}


/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}


/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
  margin: 0;
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */

.nav {
  clear: both;
  margin: 0;
  background: url("#{$path-to-images}/bg_main_menu.png") repeat 0 0;
  border-bottom: 2px solid $color-line-secondary;

  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }

  li,
  ul.menu li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0 31px;
    padding: 0;
    height: 52px;
    border-bottom: 0px solid $color-transparent;
    font-family: $signika-Light;
    font-size: $font-size-x-large;
    @include transition(all, 0.2s, ease-in-out);
    &:hover,
    &.active {
        height: 49px;
        border-bottom: 3px solid $color-line-secondary;
      a {
        color: $color-line-secondary;
      }
    }
  }

  li a,
  ul.menu li a {
    display: block;
    white-space: nowrap;
    padding: 18px 15px 13px 15px;
    color: $color-txt-main-menu;
    text-transform: uppercase;
    @include transition(all, 0.2s, ease-in-out);
    @include text-shadow (1px, 1px, 0px, #000);
    &:visited {}
    &:hover,
    &:focus {
      padding-bottom: 12px;
      text-decoration: none;
    }
  }

  .block {
    margin-bottom: 0;
  }
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  padding-left: 15px;

  ul {
    padding-left: 15px;

    ul {
      ul {}
    }
  }

  li {
    margin: 0;

    &.collapsed,
    &.expanded,
    &.leaf {}

    a {

      &:link,
      &:visited {}

      &:active,
      &.active {}

      &:hover,
      &:focus {}
    }

    &.active a,
    &.active-trail a {}

    &.first,
    &.last {}
  }
}


/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}


/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {

  .page-links {}

  .page-previous {}

  .page-next {}

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}


/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }

  li.crumb-first {}

  li.crumb-last {}

  a {

    &:link,
    &:visited {}

    &:active,
    &.active {}

    &:hover,
    &:focus {}
  }
}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
  &.pager-ellipsis {
    display: none;
  }
  &.pager-item a {
    color: $color-heading-primary;
    font-size: $font-size-bt;
  }
  &.pager-previous a,
  &.pager-next a {
    @include buttons (100px, color-brown, small);
  }
  &.pager-current {
    @include buttons (100px, color-black, small);
    padding: 3px 9px !important;
  }
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}


.block ul.pager li {
  margin: 0;
}

/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $color-bg-general;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $color-bg-general;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}


ul.primary {
  border-bottom-color: $color-line;
  margin: 20px 0;
  padding: 0 0 0 5px;

  li {
    display: block;
    float: left;
    margin: 0 1px -1px;

    &.active a {
      color: $color-heading-primary;
      border-bottom-color: $color-bg-box;
      background: $color-bg-box;
      &:hover {
        border-bottom-color: $color-bg-box;
        background: $color-bg-box;
      }
    }
    a {
      color: lighten($color-heading-primary, 30%);
      background-color: $color-bg-box;
      border-color: $color-line;
      border-style: solid solid none solid;
      box-shadow: inset 0px 3px 7px -3px #CAC9C9;
      margin-right: 1px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 1.5em;
      line-height: 1.5em;

      &:hover,
      &:focus {
        background-color: $color-bg-box;
        color: $color-heading-primary;
      }
    }
  }

  li.active {
    a,
    a:hover,
    a:focus {
    }
  }
}


ul.secondary {
  border-bottom: 1px solid $color-line;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}

/* =============================================================================
 *   Tabs (quicktabs)
 * ========================================================================== */
.sidebar-tabs {
  @include quicktabs (sidebar);
  .category-tabs-list { @include category-tabs-list; }
  .author-tabs-list { @include author-tabs-list; }
}
.content-tabs {
  @include quicktabs (content);
}
.block-quicktabs {}





/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;

  li {}
}


/* =============================================================================
 *  Field Styling
 * ========================================================================== */

/*
 * Wrapper for any field
 */
.field {}


/*
 * Above and inline classes are on the field wrapper
 */
.field-label-above {}


/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
.field-label-inline {}


/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: $signika-Regular;
  line-height: inherit;
  margin-bottom: 0;
}


/*
 * Field types (Core)
 */

/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
.field-type-image {
  .caption {}
  .full-caption {}
  .teaser-caption {}
}


/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/* Main wrapper for most blocks, block_system_main does not have it */
.block {
  margin-bottom: 20px;
}
.block-default {
  @include block-skin (skin-default);
}
.block-default-no-border {
  @include block-skin (skin-default, false); //"false" no border
}
.block-skin-brown {
  @include block-skin (skin-brown);
}

//Author Block =================================================================
.block-about-author {
  .avatar {
    float: right;
    img {
      border: solid 3px $color-bg-heading-box-primary;
    }
  }
  .author-name {
    @extend .organization;
    margin-bottom: 5px;
    padding-top: 7px;
    a {
      font-size: $font-size-sidebar-xxx-large;
      color: $color-bg-heading-box-primary;
    }
  }
  .job-name {
    @extend .organization;
    line-height: $line-height-large;
    margin-bottom: 3px;
  }
  .organization {
    float: left;
    width: 147px;
    clear: left;
  }
  .views-field-nothing {
    margin-top: 12px;
    @extend .organization;
  }
  .bio {
    clear: both;
    padding-top: 5px;
  }
}

// Social Block ================================================================
.pane-jsonblocks-social-block {
  .block-title {
    font-size: $font-size-x-large;
    line-height: $line-height-x-large;
    color: $color-txt-primary-darck;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 14px 0px;
  }
}
.social-icons {
  margin: 0 auto;
  display: table;
  .social-icon {
    width: 37px;
    height: 37px;
    float: left;
    margin-right: 7px;
    @include transition(all, 0.2s, ease-in-out);
    &:hover { opacity: 0.8; filter: alpha(opacity = 80);/*IE*/ }
    &:last-child { margin-right: 0; }
  }
  .social-icon-facebook { background: url("#{$path-to-images}/icon_fb.png")  no-repeat 0 0; }
  .social-icon-twitter  { background: url("#{$path-to-images}/icon_tw.png")  no-repeat 0 0; }
  .social-icon-youtube  { background: url("#{$path-to-images}/icon_yt.png")  no-repeat 0 0; }
  .social-icon-in       { background: url("#{$path-to-images}/icon_in.png")  no-repeat 0 0; }
  .social-icon-gplus    { background: url("#{$path-to-images}/icon_g.png")   no-repeat 0 0; }
  .social-icon-rss      { background: url("#{$path-to-images}/icon_rss.png") no-repeat 0 0; }
}

.mail-subscribe {
  .dropdown {
    position: relative;
    .clicker {
      padding: 5px 0;
      margin-top: 25px;
      text-align: center;
      background: url("#{$path-to-images}/arrow_down.png") no-repeat 251px center;
      cursor: pointer;
      &.active { background: url("#{$path-to-images}/bt_close.png")   no-repeat 251px center; }
      h4 {
        color: $color-txt-primary-darck;
        margin: 0px;
        line-height: 20px;
        letter-spacing: 1px;
        margin-right: 18px;
      }
    }
    .inner-dropdown {
      background: $color-bg-box-hightlight;
      margin-top: 3px;
      position: absolute;
      z-index: 10;
      right: 0;
      left: 0;
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-right: 6px solid rgba(0, 0, 0, 0);
        border-bottom: 6px solid $color-bg-box-hightlight;
        position: absolute;
        top: -6px;
        right: 24px;
      }
      .subscribe-form {
        padding: 10px;
        .form-item {
          margin: 0px 0px 10px 0px;
          label {}
          input { width: 247px; }
        }
        input[type="submit"] {
          float: right
        }
      }
    }
  }
}

/* =============================================================================
 *   Node Styling
 * ========================================================================== */
#page-title {
  margin: 10px 0px 20px 0px;
  border-bottom: 1px solid $color-line;
}
.node {
  margin-bottom: 20px;

  &.node-promoted {}
  &.node-sticky {}
  &.node-by-viewer {}
  &.node-teaser {}
  &.node-full {}
  &.odd {}
  &.even {}

  .content .node-title {}
  .user-picture {}
  .submitted {
    .username {}
    time {}
  }

  ul.links {

    li {}
    li a {}

    li.node-read-more a {}
    li.comment-add a {}
    li.comment-comments a {}
    li.comment-new-comments a {}
    li.blog-sernames-blog a {}
    li.print-html a {}
    li.print-email a {}
    li.print-pdf a {}
  }
}

.content {
  color: $color-txt-primary-darck;
  .author {
    margin-bottom: 49px;
    font-size: $font-size-large;
    span {
      color: $color-txt-primary;
    }
  }
}

/* News ===================================================================== */
.node-type-news {
  .field-name-field-image {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

/* Category ================================================================= */
.field-type-taxonomy-term-reference {
  margin: 40px 0 34px 0;
  h2.field-label {
    float: left;
    margin: 0px;
    text-transform: uppercase;
    color: $color-txt-primary;
  }
  ul.field-items {
    margin: 0px;
    padding: 0px;
    float: none;
    display: inline;
    li{
      margin: 0px;
      padding: 0px;
      float: left;
      list-style-type: none;
      a {
        @include category;
      }
    }
  }
}
/* ========================================================================== */

/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;

  h2 {
    &.comment-title {
      margin: 0 0 26px 0;
      font-size: $font-size-xxx-large;
      text-transform: uppercase;
    }

    &.comment-form {
      margin: 0;
    }
  }
}


/*
 * Wrapper for a single comment
 */
.comment {
  border: 1px solid $color-line;
  padding: 19px 26px;
  @include border-radius(6px);
  color: $color-txt-primary;
  margin-bottom: 32px;
  .comment-title {
    line-height: 17px;
    margin: 0 0 6px 0;
    a {
      color: $color-bg-heading-box-primary;
      font-size: $font-size-large;
    }
  }

  &.first {}

  &.last {}

  &.odd {}

  &.even {}

  .user-picture {}

  .submitted {
    font-style: italic;
    margin: 5px 0;
    p {}

    .username {
      color: $color-txt-primary-darck;
    }

    time {}
  }

  .user-signature {}

  ul.links {}
}


/*
 * Comment states
 */
.comment-new {}

.comment-by-anonymous {}

.comment-by-node-author {}

.comment-by-viewer {}

.comment-title-hidden {}

.comment-with-picture {}

.comment-with-signature {}


/*
 * Preview of the comment before submitting new or updated comment
 */
.comment-preview {}


/*
 * "New" marker for comments that are new for the current user
 */
.new {
  color: $highlight;
}


/*
 * Nested comments are indented
 */
.indented {
  margin-left: 0px;
  .comment {
    margin-left: 40px;
  }
}


/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {

  input.error,
  textarea.error,
  select.error {
    border: 1px solid $highlight;
  }

  label {
    font-weight: 700;
  }

  label.option {
  }

  .description {
    font-size: 0.85em;
  }

  &.form-checkboxes ,
  &.form-radios {
  }
}


/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: $highlight;
}


/*
 * The submit button
 */
.form-submit {
}


.container-inline {
  div,
  label {
    display: inline;
  }
}

/*
 * Define consistent borders
 */
fieldset {
  border: 1px solid $color-line;
}

/*
 * Tips for Drupal's input formats
 */
.tips {}


/*
 * Buttons used by contrib modules like Media
 */
a.button {
  @include appearance(button);
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;

  &.sticky-header {
    z-index: 10;
  }
}


table,
thead,
tbody,
tr,
th,
td {
  border-color: $color-line;
}


table,
td,
th {
  vertical-align: middle;
}


caption,
th,
td {
  text-align: left;
}


thead tr {
  font-weight: 700;
  background-color: $medium_dark;
}


td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}


tbody {}


tbody tr {
  border-top: 1px solid $color-line;
}


tr {

  &.odd {
    background: $color-bg-general;
  }

  /* Table row striping */
  &.info,
  &.even,
  &:nth-child(2n+2)  {
    border-bottom: 0;
    background-color: $ultralight;
  }

  &.drag {}

  &.drag-previous {}

  &.odd td.active {
    background-color: $light;
  }

  &.even td.active {
    background-color: $medium_light;
  }
}

.lt-ie8 tr {

  &.even,
  &.odd {

    th,
    td {}
  }
}


/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {
  .created,
  .posts,
  .topics,
  .last-reply,
  .replies,
  .pager {
     white-space: normal;
  }
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

div {
  &.messages {
  // Left and right margin are set by the global gutter width
  margin-bottom: 10px;
  margin-top: 10px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.status {}
  &.warning {}
}

tr.warning {}

div.error,
tr.error {}

.error {}

.warning {}


/*
 * Unpublished nodes
 */
.node-unpublished,
.comment-unpublished {
}


.node-unpublished,
.comment-unpublished {

  p.unpublished {
    @include unpublished;
  }
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {
  .container {
    padding: 40px 0;
  }

  #site-name,
  #page-title {
    margin: 0;
  }
}


.db-offline {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 960px;
  }

  div.messages {
    margin: 20px 0 0;
  }

  #content {
    padding: 20px 0;
  }
}


/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

.profile .user-picture {
  float: left;
  margin: 0 1em 1em 0;
  width: 183px;
  height: 172px;
  border: 3px solid #eed466;
  z-index: 99999;
  position: relative;
}

// Admin menu overrides
#admin-menu {
  margin: 0;
  padding: 0;
}

// Devel Module
.dev-query {
  background: $light;
  padding: 30px;
}

// Styleguide module tweaks
#styleguide-header {
  padding: 0 10px;
  .item-list {
    font-family: $signika-Regular;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}


/* =============================================================================
 *   Video Page Layout
 * ========================================================================== */

 .page-videos {
    .region+.region+.region.region-two-66-33-first {
      width: 100%;
    }
    .region+.region+.region+.region.region-two-66-33-second {
      width: 0px
    }
 }


