
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* DRUPAL ADMIN TOOL BAR */
body #admin-menu { font-size: 8px; }
body.admin-menu { margin-top: 21px !important; }


/* Increase the body font size on small devices */
html {
  font-size: 112.5%;
}

p {
  font-size: 14px;
}

div.messages {
	font-size: $font-size-tiny;
}

input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="search"],
input[type="password"],
input[type="text"] {
  width: 100%;
}

/* =============================================================================
 *   Top BAR
 * ========================================================================== */
#leaderboard-wrapper {
	.block-lang-dropdown {
		.block-title { display: none; }
		width: 215px;
		float: right;
		clear: none;
	}
	.block-top-header-menu {
		width: 39px;
		height: 38px;
		float: left;
		margin-left: 15px;
		.menu { display: none; }
	}
}


/* =============================================================================
 *   Header
 * ========================================================================== */
//logo
#branding {
	width: inherit;
	#logo {
		padding: 20px 0px 21px 3px;
	}
}
//search block
#block-search-form  {
	display: none;
}

//login and support block
.block-support-ijnet,
.block-login-block {
	margin-bottom: 0px !important;
}
.block-login-block {
  width: 204px !important;
  padding-top: 0;
	.block-inner {
		margin-right: 0;
		margin-left: 10px;

		.block-content {
		  padding: 17px 6px 0px 0px;
		}
	}
}

/* =============================================================================
 *   Top BAR
 * ========================================================================== */

/* leaderboard-wrapper ====================================================== */
#leaderboard-wrapper {
	background: $color-bg-leaderboard;
	border-bottom: 1px solid darken( $color-bg-leaderboard, 10% );
	.block {
		margin-bottom: 0px;
	}
}

.block-top-header-menu {
	ul.menu {
		display: none;
		li {
			&:last-child {}
			a {}
		}
	}
}
/* =========================================================================== */

/* =============================================================================
 *   Item list
 * ========================================================================== */

.article-item-list {
  @include article-item-list-width (mobile-landscape);
  @include article-item-list ();
}

.article-item-list-no-body {
  @include article-item-list-width-no-body (mobile-landscape);
  @include article-item-list ();
}

/* =============================================================================
 *   TABS
 * ========================================================================== */
.content-tabs .block-title { display: none; }


/* =============================================================================
 *   Video landing page
 * ========================================================================== */
.pane-jsonblocks-social-block { display: none !important; }
.pane-fe-videos-fe-videos-search .videos-landing-header { height: 222px; }
.pane-fe-videos-fe-videos-search .videos-landing-header .header,
.pane-fe-videos-fe-videos-search .videos-landing-header .topic-select {
 	width: 100%;
 }

//FEATURED VIDEO
.pane-views-videos-featured-video { margin-bottom: 0px; }
.view-display-id-featured_video { height: 100%; }
.view-display-id-featured_video iframe { height: 280px; }
.page-videos .view-display-id-featured_video { margin-right: 0px; }
.view-display-id-featured_video { padding-right: 15px; }

//RELATED VIDEOS
.page-videos .pane-views-videos-related-videos-landing .block-inner {
	margin-top: 0px;
	margin-left: 20px;
	padding-left: 0px;
	padding-bottom: 20px;
	height: auto;
}
.pane-views-videos-related-videos-landing .block-inner .views-row {
	width: 50%;
	float: left;
	margin-bottom: 0px;
	.node-video {
		margin: 0 5px;
	}

}


/* =============================================================================
 *   Opportunities LANDING
 * ========================================================================== */
.views-exposed-widgets {
  #edit-field-category-tid-wrapper,
  #edit-field-region-tid-wrapper {
    width: 100%;
    padding-right: 0%;
  }

  #edit-title-wrapper {
    width: 100%;
    padding: 2% 0% 0 0;
  }
  #edit-keys-wrapper {
    padding-right: 0px;
    width: 242px;
  }
  .views-submit-button {
    width: 100%;
    text-align: center;
  }
}

/* =============================================================================
 *   User Profile
 * ========================================================================== */

.section-users {
  #content {
    .profile {
      @include clearfix;
      .field-name-field-bio {
        width: 100%;
        .field-items { 
          margin-right: 0px;
          padding-right: 0px;
        }
      }
      .user-picture {
        margin: 0px 0 0 15px;
        a {}
      }
      .twitter_link {}
    }
  }
}


//Search results are an ordered list so reset the margin
.page-search {
  .search-form {
    .form-wrapper {
    	width: 100%;
		margin: 0;
     	.form-item-keys {
        label {}
        input {}
    }
    	input { width: 100%; }
    }
  }
}