
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small devices */
html {
  font-size: 112.5%;
}

/* =============================================================================
 *   Top BAR
 * ========================================================================== */

/* leaderboard-wrapper ====================================================== */
#leaderboard-wrapper {
	background: $color-bg-leaderboard;
	border-bottom: 1px solid darken( $color-bg-leaderboard, 10% );
	.block {
		margin-bottom: 0px;
	}
}

.block-top-header-menu {
	ul.menu {
		display: none;
		li {
			&:last-child {}
			a {}
		}
	}
}
/* =========================================================================== */

/* =============================================================================
 *   Video Page Layout
 * ========================================================================== */

.article-item-list {
  @include article-item-list-width (mobile-landscape);
  @include article-item-list ();
}