
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* DRUPAL ADMIN TOOL BAR */
body #admin-menu { font-size: 8px; }
body.admin-menu { margin-top: 21px !important; }

/* Increase the body font size on small devices */
html {
  font-size: 81.3%;
}

/* =============================================================================
 *   Top BAR
 * ========================================================================== */
#leaderboard-wrapper {
	.block-lang-dropdown {
		.block-title { display: none; }
		width: 215px;
		float: right;
		clear: none;
	}
	.block-top-header-menu {
		width: 447px;
		height: 38px;
		float: left;
		margin-left: 15px;
		.block-content {
			ul.menu {
				li a {
					font-size: 11px;
				}
			}
		}
		//.menu { display: none; }
	}
}

/* =============================================================================
 *   Header
 * ========================================================================== */
//logo
#branding {
	width: inherit;
	#logo {
		padding: 0px 0px 21px 3px;
	}
}
//search block
#block-search-form  {
	display: none;
}

//login and support block
.block-support-ijnet,
.block-login-block {
	margin-bottom: 0px !important;
}


/* =============================================================================
 *   Item list
 * ========================================================================== */

.article-item-list {
	@include article-item-list-width (tablet-portrait);
	@include article-item-list ();
}

.article-item-list-no-body {
  @include article-item-list-width-no-body (tablet-portrait);
  @include article-item-list ();
}

/* =============================================================================
 *   TABS
 * ========================================================================== */
.content-tabs .block-title { font-size: 9px; }

/* =============================================================================
 *   Video landing page
 * ========================================================================== */
.pane-jsonblocks-social-block { display: none !important; }

//FEATURED VIDEO
.pane-views-videos-featured-video { margin-bottom: 0px; }
.view-display-id-featured_video { height: 100%; }
.page-videos .view-display-id-featured_video {	margin-right: 0px; }
.view-display-id-featured_video { padding-right: 15px; }

//RELATED VIDEOS
.page-videos .pane-views-videos-related-videos-landing .block-inner {
	margin-top: 0px;
	margin-left: 20px;
	padding-left: 0px;
	padding-bottom: 20px;
	height: auto;
}
.pane-views-videos-related-videos-landing .block-inner .views-row {
	width: 50%;
	float: left;
	margin-bottom: 0px;
	.node-video {
		margin: 0 5px;
	}

}
//category-tabs-list
	.category-tabs-list {
	  li.category-item {
	  	width: 50%;
	  	float: left;
	  	margin-bottom: 0 !important;
	  }
	}



//Search results are an ordered list so reset the margin
.page-search {
  .search-form {
    .form-wrapper {
      width: 80%;
      margin: 0 10%;
      .form-item-keys {
        label {}
        input {}
      }
      input {}
    }
  }
}