
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* DRUPAL ADMIN TOOL BAR */
body #admin-menu { font-size: 8px; }
body.admin-menu { margin-top: 21px !important; }

/* Increase the body font size on small devices */
html {
  font-size: 81.3%;
}

/* =============================================================================
 *   Top BAR
 * ========================================================================== */
#leaderboard-wrapper {
	.block-lang-dropdown {
		.block-title { display: none; }
		width: 215px;
		float: right;
		clear: none;
	}
	.block-top-header-menu {
		width: 447px;
		height: 38px;
		float: left;
		margin-left: 15px;
		.block-content {
			ul.menu {
				li a {
					font-size: 11px;
				}
			}
		}
		//.menu { display: none; }
	}
}

/* =============================================================================
 *   Header
 * ========================================================================== */
//logo
#branding {
	width: inherit;
	#logo {
		padding: 0px 0px 21px 3px;
	}
}
//search block
#block-search-form  {
	display: none;
}

//login and support block
.block-support-ijnet,
.block-login-block {
	margin-bottom: 0px !important;
}


/* =============================================================================
 *   Video Page Layout
 * ========================================================================== */

.article-item-list {
	@include article-item-list-width (tablet-portrait);
	@include article-item-list ();
}