.i18n-en .latest-posts-block {
  background: url("../images/bg_latest_post_en.jpg") no-repeat left center;
}

@media (max-width: 989px) and (min-width: 769px) {
  .i18n-es .pane-quicktabs-opportunities-for-journalists .block-title {
    top: -23px !important;
    left: 29px;
    line-height: normal;
  }
}
.i18n-es .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  top: 5px;
  left: 29px;
  line-height: normal;
}
.i18n-es .latest-posts-block {
  background: url("../images/bg_latest_post_es.jpg") no-repeat left center;
}
.i18n-es.section-knight-media-innovators #block-blockify-blockify-page-title h1 {
  font-size: 25px;
}

.i18n-pt-br .block-login-block {
  font-size: 15px;
}
.i18n-pt-br .mail-subscribe .dropdown .clicker h4 {
  font-size: 14px;
}
.i18n-pt-br .latest-posts-block {
  background: url("../images/bg_latest_post_pt.jpg") no-repeat left center;
}
.i18n-pt-br .latest-posts-block .inner-block a {
  line-height: 14px;
  font-size: 12px;
  padding: 13px 44px 13px 16px;
}
.i18n-pt-br .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  width: 270px;
  top: 7px;
  left: 29px;
  line-height: normal;
}

.i18n-ru .content-tabs .block-title {
  left: 22px;
}
.i18n-ru .block-top-header-menu {
  width: 65%;
}
.i18n-ru .block-lang-dropdown {
  width: 30%;
}
.i18n-ru .block-top-header-menu .block-content ul.menu li a {
  display: block;
  line-height: 12px;
  margin: 0 4px;
}
.i18n-ru .block-login-block {
  font-size: 14px;
}
.i18n-ru .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  width: 130px;
  top: -7px;
  left: 29px;
  line-height: normal;
}
.i18n-ru .latest-posts-block {
  background: url("../images/bg_latest_post_ru.jpg") no-repeat left center;
}
.i18n-ru .latest-posts-block .inner-block a {
  padding: 13px 44px 13px 22px;
  line-height: 14px;
  font-size: 11px;
}
.i18n-ru .block-about-author .button-tiny {
  margin-top: 10px;
}

.i18n-ar .latest-posts-block {
  background: url("../images/bg_latest_post_ar.jpg") no-repeat left center;
}
.i18n-ar .mail-subscribe .dropdown .inner-dropdown .subscribe-form a.archive-link,
.i18n-ar .mail-subscribe .dropdown .inner-dropdown .subscribe-form input[type="submit"] {
  float: right;
}

.i18n-zh-hans .latest-posts-block {
  background: url("../images/bg_latest_post_zh-hans.jpg") no-repeat left -10px;
  height: 202px;
}

.i18n-fa .latest-posts-block {
  background: url("../images/bg_latest_post_fa.jpg") no-repeat left center;
}
.i18n-fa .mail-subscribe .dropdown .inner-dropdown .subscribe-form a.archive-link,
.i18n-fa .mail-subscribe .dropdown .inner-dropdown .subscribe-form input[type="submit"] {
  float: right;
}

ul {
  padding: 0 40px 0 0px;
}

.node ul, .node ol {
  padding: 0 40px 0 0px;
  font-size: 16px !important;
}

@media only screen and (min-width: 0px) and (max-width: 989px) {
  p,
  pre {
    font-size: 16px !important;
  }

  .node ul, .node ol {
    font-size: 16px !important;
  }
}
body .two-66-33 > .region-two-66-33-first .region-inner {
  margin-right: 0px;
  margin-left: 330px;
}

body .at-panel .region {
  float: right;
}

body .two-66-33 > .region-two-66-33-second {
  margin-right: -330px;
  margin-left: 0px;
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  body .at-panel .region {
    float: none;
  }

  body .two-66-33 > .region-two-66-33-first .region-inner {
    margin-left: 0;
  }

  body .two-66-33 > .region-two-66-33-second {
    margin-right: 0;
  }
}
body #content-column, .content-column, div.sidebar {
  float: right;
  clear: none;
}

body .region-sidebar-second {
  width: 330px;
  margin-right: -330px;
  margin-left: 0px;
}

body.sidebar-second .content-inner {
  margin-left: 330px;
  margin-right: 0;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  body .region-sidebar-second {
    width: 100%;
    margin-right: 0;
    margin-left: 0px;
  }

  body.sidebar-second .content-inner {
    margin-left: 0;
    margin-right: 0;
  }
}
.field-type-taxonomy-term-reference ul.field-items {
  width: 88%;
}
.field-type-taxonomy-term-reference ul.field-items li {
  float: right;
}

.field-type-taxonomy-term-reference h2.field-label {
  width: 12%;
}

.view-display-id-news_teaser_list .buttons,
.region-highlighted .field-type-taxonomy-term-reference ul.field-items li,
.region-highlighted .field-type-taxonomy-term-reference h2.field-label,
.block-top-header-menu,
.nav li, .nav ul.menu li,
.block-login-block,
.block-support-ijnet,
#branding,
.field-type-taxonomy-term-reference ul.field-items,
.field-type-taxonomy-term-reference h2.field-label {
  float: right !important;
}

.mail-subscribe .dropdown .inner-dropdown .subscribe-form input[type="submit"],
.block-lang-dropdown,
#header-wrapper .region-header {
  float: left;
}

.block-top-header-menu {
  margin-left: 0px;
  margin-right: 23px;
}

.mail-subscribe .dropdown .clicker {
  background: url("../images/arrow_down.png") no-repeat 0px center;
}

.mail-subscribe .dropdown .clicker.active {
  background: url("../images/bt_close.png") no-repeat 0px center;
}

.mail-subscribe .dropdown .clicker h4 {
  margin-left: 18px;
  margin-right: 0px;
}

.block-top-header-menu {
  background-position: right center;
}

.block-top-header-menu .block-content {
  padding: 10px 24px 8px 0px;
}

body .dd-pointer {
  left: 10px;
  right: initial;
}

.block-lang-dropdown {
  background-position: right center;
}

.block-lang-dropdown .block-title {
  float: right;
  margin-left: 0px;
  margin-right: 6px;
}

.block-lang-dropdown .ijnet-language-dropdown {
  float: left;
}

.block-lang-dropdown .ijnet-language-dropdown .form-item .dd-container .dd-options:after {
  left: 20px;
  right: initial;
}

.block-lang-dropdown .ijnet-language-dropdown .form-item .dd-container .dd-options:before {
  left: 19px;
  right: initial;
}

.block-about-author .avatar {
  margin-left: 10px;
}

.sidebar-tabs .block-title {
  right: 26px;
  left: inherit;
}

.sidebar-tabs .quicktabs-wrapper .quicktabs-tabs {
  text-align: left;
}

.sidebar-tabs .author-tabs-list ul li .avatar {
  margin-right: 0px;
  margin-left: 10px;
  float: right;
}

.sidebar-tabs .author-tabs-list ul li .button {
  right: 115px;
  left: inherit;
}

#block-search-form .block-inner .form-item-search-block-form {
  float: right;
}

#block-search-form .block-inner .form-item-search-block-form input {
  padding: 11px 9px 6px 9px;
}

#block-search-form .block-inner #edit-actions {
  float: left;
}
#block-search-form .block-inner #edit-actions input {
  border-radius: 4px 0px 0px 5px;
  background: #000;
}

.facebook-like .logo img {
  float: right;
  margin-top: 2px;
  margin-right: 5px;
  margin-left: 5px;
}

.content-tabs .quicktabs-wrapper .quicktabs-tabs {
  text-align: left;
  margin: 0px 0px 0px 5px;
}

.content-tabs .block-title {
  left: initial;
  right: 27px;
}

.twitter-status .avatar {
  float: right;
}

.twitter-status .timestamp {
  float: left;
}

.twitter-status .name-handle {
  margin-right: 60px;
  margin-left: 0px;
}

.opportunities-list .opportunities-item .opportunities-deadline {
  float: right;
  margin-left: 20px;
  margin-right: 0px;
}

.opportunities-list .buttons {
  float: left;
}

.page-videos .view-display-id-featured_video {
  margin-right: 0px;
  margin-left: -20px;
}

.page-videos .pane-views-videos-related-videos-landing .block-inner {
  margin-right: 0;
  margin-left: 20px;
}

.view-display-id-featured_video {
  padding: 0px 15px 15px 0px;
}

.videos-landing-header .header {
  float: right;
}

.videos-landing-header .topic-select .topic-select-inner .search {
  float: left;
}

.video-list .video-item .node-video h2 {
  text-align: right;
}

@media (max-width: 480px) {
  body .two-66-33 > .region-two-66-33-first .region-inner {
    margin-right: 0px;
    margin-left: 0px;
  }

  body .at-panel .region {
    float: right;
  }

  body .two-66-33 > .region-two-66-33-second {
    margin-right: 0px;
    margin-left: 0px;
  }

  .main-content .block-inner {
    margin-right: 0px;
  }
}
.item-list ul.pager li.pager-next,
.item-list ul.pager li.pager-previous,
.item-list ul.pager li.pager-item,
.item-list ul.pager li.pager-current {
  float: right;
}

.item-list ul.pager li.pager-item,
.item-list ul.pager li.pager-current {
  padding-right: 5px;
  padding-left: 5px;
}

.item-list ul.pager li.pager-next,
.item-list ul.pager li.pager-previous {
  padding-right: 18px;
  padding-left: 18px;
}

.item-list ul.pager li.pager-item a,
.item-list ul.pager li.pager-current a {
  font-size: 18px;
}

.page-email-bulletin-archive table h4,
.page-email-bulletin-archive thead h4,
.page-email-bulletin-archive tbody h4,
.page-email-bulletin-archive tr h4,
.page-email-bulletin-archive th h4,
.page-email-bulletin-archive td h4,
.page-email-bulletin-archive td p {
  text-align: right;
}
