.i18n-en .latest-posts-block {
  background: url("../images/bg_latest_post_en.jpg") no-repeat left center;
}

@media (max-width: 989px) and (min-width: 769px) {
  .i18n-es .pane-quicktabs-opportunities-for-journalists .block-title {
    top: -23px !important;
    left: 29px;
    line-height: normal;
  }
}
.i18n-es .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  top: 5px;
  left: 29px;
  line-height: normal;
}
.i18n-es .latest-posts-block {
  background: url("../images/bg_latest_post_es.jpg") no-repeat left center;
}
.i18n-es.section-knight-media-innovators #block-blockify-blockify-page-title h1 {
  font-size: 25px;
}

.i18n-pt-br .block-login-block {
  font-size: 15px;
}
.i18n-pt-br .mail-subscribe .dropdown .clicker h4 {
  font-size: 14px;
}
.i18n-pt-br .latest-posts-block {
  background: url("../images/bg_latest_post_pt.jpg") no-repeat left center;
}
.i18n-pt-br .latest-posts-block .inner-block a {
  line-height: 14px;
  font-size: 12px;
  padding: 13px 44px 13px 16px;
}
.i18n-pt-br .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  width: 270px;
  top: 7px;
  left: 29px;
  line-height: normal;
}

.i18n-ru .content-tabs .block-title {
  left: 22px;
}
.i18n-ru .block-top-header-menu {
  width: 65%;
}
.i18n-ru .block-lang-dropdown {
  width: 30%;
}
.i18n-ru .block-top-header-menu .block-content ul.menu li a {
  display: block;
  line-height: 12px;
  margin: 0 4px;
}
.i18n-ru .block-login-block {
  font-size: 14px;
}
.i18n-ru .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  width: 130px;
  top: -7px;
  left: 29px;
  line-height: normal;
}
.i18n-ru .latest-posts-block {
  background: url("../images/bg_latest_post_ru.jpg") no-repeat left center;
}
.i18n-ru .latest-posts-block .inner-block a {
  padding: 13px 44px 13px 22px;
  line-height: 14px;
  font-size: 11px;
}
.i18n-ru .block-about-author .button-tiny {
  margin-top: 10px;
}

.i18n-ar .latest-posts-block {
  background: url("../images/bg_latest_post_ar.jpg") no-repeat left center;
}
.i18n-ar .mail-subscribe .dropdown .inner-dropdown .subscribe-form a.archive-link,
.i18n-ar .mail-subscribe .dropdown .inner-dropdown .subscribe-form input[type="submit"] {
  float: right;
}

.i18n-zh-hans .latest-posts-block {
  background: url("../images/bg_latest_post_zh-hans.jpg") no-repeat left -10px;
  height: 202px;
}

.i18n-fa .latest-posts-block {
  background: url("../images/bg_latest_post_fa.jpg") no-repeat left center;
}
.i18n-fa .mail-subscribe .dropdown .inner-dropdown .subscribe-form a.archive-link,
.i18n-fa .mail-subscribe .dropdown .inner-dropdown .subscribe-form input[type="submit"] {
  float: right;
}

/*
 * @file
 * Print Styles
 * This probably needs work, but it's a good starting point.
 */
/*
 * Body
 */
body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4;
  word-spacing: 1.1pt;
  letter-spacing: 0.2pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 11pt;
}

/*
 * Links
 */
a {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
  color: #0000ee;
}
a[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: "(" attr(href) ")";
  font-size: 10pt;
}

/*
 * Strip background from likely candidates
 */
div[id*="wrapper"],
[class*="title"],
[class*="inner"],
header,
footer,
#branding,
#container,
#columns,
.columns-inner,
#content-column,
.content-inner,
.region,
.region-header,
.region-content,
.article,
.article-title,
.article-content,
.comment,
.comment-title,
.comment-content,
.block,
.block-inner,
.block-title,
.block-content,
table,
table * {
  background: none !important;
}

/*
 * Hide various bits of the page
 */
.sidebar,
#breadcrumb,
.nav,
.field-type-taxonomy-term-reference,
ul.links,
.feed-icon,
.poll .bar,
.poll .foreground,
.comment-form,
#comment-form,
.book-navigation,
.tabs,
.action-links,
.pager,
.messages,
.help {
  display: none;
}

/*
 * Ensure the display the main content region
 */
#content {
  display: block !important;
}

/*
 * Layout
 */
#header {
  margin-bottom: 20px;
}

.content-inner {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * HTML elements
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 13pt;
}

h3 {
  font-size: 12pt;
}

h4,
h5,
h6 {
  font-size: 11pt;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
#site-name a,
#site-slogan {
  text-decoration: none !important;
  color: #333333;
}

hgroup a:link, hgroup a:visited {
  text-decoration: none;
}

#page-title {
  margin-top: 20px;
}

pre,
code,
tt,
samp,
kbd,
var {
  font-size: 10pt;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif;
}

blockquote {
  margin: 20px;
  padding: 10px;
  font-size: 10pt;
  font-style: italic;
  background: #eeeeee;
}

hr {
  background-color: #666666;
}

/*
 * Header, Logo, Site name
 */
#header {
  padding-bottom: 20px;
}

#logo img {
  padding: 0 10px 0 0;
  margin: 0 !important;
  float: none !important;
}

/*
 * Images
 */
img {
  float: left;
  margin: 4px 20px 10px 0;
  page-break-inside: avoid;
}

a img {
  border: none;
}

/*
 * Tables
 */
table {
  margin: 1px;
  text-align: left;
}

th {
  border-bottom: 1px solid #333333;
  font-weight: 700;
}

td {
  border-bottom: 1px solid #333333;
}

th,
td {
  padding: 4px 10px 4px 0;
}

tfoot {
  font-style: italic;
}

caption {
  margin-bottom: 10px;
  text-align: left;
}

thead {
  display: table-header-group;
}

tr {
  page-break-inside: avoid;
}

/*
 * Forms
 */
form {
  margin-bottom: 10px;
}

/*
 * Poll module
 */
.poll .text,
.poll .percent,
.poll .total {
  text-align: left;
}
.poll form {
  margin-bottom: 0;
}

/*
 * Articles
 */
.node,
.comment {
  margin-bottom: 20px;
  overflow: hidden;
  page-break-inside: avoid;
}

.submitted {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.submitted a {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
