.i18n-en .latest-posts-block {
  background: url("../images/bg_latest_post_en.jpg") no-repeat left center;
}

@media (max-width: 989px) and (min-width: 769px) {
  .i18n-es .pane-quicktabs-opportunities-for-journalists .block-title {
    top: -23px !important;
    left: 29px;
    line-height: normal;
  }
}
.i18n-es .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  top: 5px;
  left: 29px;
  line-height: normal;
}
.i18n-es .latest-posts-block {
  background: url("../images/bg_latest_post_es.jpg") no-repeat left center;
}
.i18n-es.section-knight-media-innovators #block-blockify-blockify-page-title h1 {
  font-size: 25px;
}

.i18n-pt-br .block-login-block {
  font-size: 15px;
}
.i18n-pt-br .mail-subscribe .dropdown .clicker h4 {
  font-size: 14px;
}
.i18n-pt-br .latest-posts-block {
  background: url("../images/bg_latest_post_pt.jpg") no-repeat left center;
}
.i18n-pt-br .latest-posts-block .inner-block a {
  line-height: 14px;
  font-size: 12px;
  padding: 13px 44px 13px 16px;
}
.i18n-pt-br .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  width: 270px;
  top: 7px;
  left: 29px;
  line-height: normal;
}

.i18n-ru .content-tabs .block-title {
  left: 22px;
}
.i18n-ru .block-top-header-menu {
  width: 65%;
}
.i18n-ru .block-lang-dropdown {
  width: 30%;
}
.i18n-ru .block-top-header-menu .block-content ul.menu li a {
  display: block;
  line-height: 12px;
  margin: 0 4px;
}
.i18n-ru .block-login-block {
  font-size: 14px;
}
.i18n-ru .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  width: 130px;
  top: -7px;
  left: 29px;
  line-height: normal;
}
.i18n-ru .latest-posts-block {
  background: url("../images/bg_latest_post_ru.jpg") no-repeat left center;
}
.i18n-ru .latest-posts-block .inner-block a {
  padding: 13px 44px 13px 22px;
  line-height: 14px;
  font-size: 11px;
}
.i18n-ru .block-about-author .button-tiny {
  margin-top: 10px;
}

.i18n-ar .latest-posts-block {
  background: url("../images/bg_latest_post_ar.jpg") no-repeat left center;
}
.i18n-ar .mail-subscribe .dropdown .inner-dropdown .subscribe-form a.archive-link,
.i18n-ar .mail-subscribe .dropdown .inner-dropdown .subscribe-form input[type="submit"] {
  float: right;
}

.i18n-zh-hans .latest-posts-block {
  background: url("../images/bg_latest_post_zh-hans.jpg") no-repeat left -10px;
  height: 202px;
}

.i18n-fa .latest-posts-block {
  background: url("../images/bg_latest_post_fa.jpg") no-repeat left center;
}
.i18n-fa .mail-subscribe .dropdown .inner-dropdown .subscribe-form a.archive-link,
.i18n-fa .mail-subscribe .dropdown .inner-dropdown .subscribe-form input[type="submit"] {
  float: right;
}

.calendar-calendar {
  /**/
}
.calendar-calendar .year-view td {
  padding: 4px;
  background: whitesmoke;
}
.calendar-calendar .month-view {
  /**/
}
.calendar-calendar .month-view .date-nav-wrapper {
  margin: 0;
}
.calendar-calendar .month-view .date-nav-wrapper .date-nav {
  margin: 0;
  font-size: 17px;
  background: whitesmoke;
}
.calendar-calendar .month-view table.mini {
  margin-bottom: 20px;
}
.calendar-calendar .month-view table.mini thead {
  /**/
}
.calendar-calendar .month-view table.mini thead tr {
  border: none;
}
.calendar-calendar .month-view table.mini thead tr th {
  background: #c67b1a;
  color: white;
  font-size: 16px;
  padding: 6px 0;
  border: 0px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 25px;
}
.calendar-calendar .month-view table.mini tbody {
  background: #f6f6f6;
}
.calendar-calendar .month-view table.mini tbody tr {
  border: 0px;
  font-size: 16px;
}
.calendar-calendar .month-view table.mini tbody tr td {
  vertical-align: middle;
  padding: 5px 0;
  background: whitesmoke;
}
.calendar-calendar .month-view table.mini tbody tr td.today .mini-day-off {
  background: #c67b1a;
  width: 23px;
  height: 23px;
  border-radius: 11%;
  color: white;
  text-decoration: none;
  padding: 5px 3px 2px 4px;
  text-align: center;
  margin: 0px 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.calendar-calendar .month-view table.mini tbody tr td.today .mini-day-off:hover {
  background: #c67b1a;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.calendar-calendar .month-view table.mini tbody tr td .calendar-empty {
  text-align: center;
}
.calendar-calendar .month-view table.mini tbody tr td .mini-day-on {
  text-align: center;
}
.calendar-calendar .month-view table.mini tbody tr td .mini-day-on a {
  display: block;
  background: #e6e6e6;
  width: 23px;
  height: 23px;
  border-radius: 11%;
  color: #777777;
  text-decoration: none;
  padding: 5px 3px 2px 4px;
  text-align: center;
  margin: 0px 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.calendar-calendar .month-view table.mini tbody tr td .mini-day-on a:hover {
  background: #c67b1a;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.calendar-calendar .month-view table.mini tbody tr td .mini-day-off {
  text-align: center;
}
.calendar-calendar .month-view table.mini tbody tr td .mini-day-off a {
  /**/
}

.view-id-opportunities_calendar {
  /**/
}
.view-id-opportunities_calendar .view-header {
  /**/
}
.view-id-opportunities_calendar .view-header h1 {
  /**/
}
.view-id-opportunities_calendar .view-header .date-nav-wrapper {
  /**/
}
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav {
  padding: 0;
  height: auto;
  margin: 0;
}
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav .date-heading {
  /**/
}
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav .date-heading h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: 4px;
}
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav .date-heading h3 a {
  color: white;
}
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav .pager {
  background: #3c6e8f;
  height: 36px;
  border-radius: 0px;
}
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav .pager .date-prev,
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav .pager .date-next {
  text-align: left;
  width: 107px;
  color: white;
  padding: 8px 7px 6px 7px;
  background: transparent;
  top: 0px;
}
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav .pager .date-prev a,
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav .pager .date-next a {
  font-size: 17px;
  text-transform: uppercase;
}
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav .pager .date-prev {
  left: 0;
}
.view-id-opportunities_calendar .view-header .date-nav-wrapper .date-nav .pager .date-next {
  text-align: right;
}
.view-id-opportunities_calendar .calendar-calendar {
  /**/
}
.view-id-opportunities_calendar .calendar-calendar .month-view {
  /**/
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full {
  /**/
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full thead {
  /**/
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full thead tr {
  /**/
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full thead tr th {
  background: #c67b1a;
  color: white;
  font-size: 16px;
  padding: 6px 0;
  border: 0px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 25px;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody {
  /**/
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr {
  /**/
  border-bottom: none;
  border-top: none;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody td.single-day .inner .monthview .cutoff,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody td.multi-day .inner .monthview .cutoff {
  border-radius: 0;
  background: #cbcbcb;
  width: 10px;
  height: auto;
  text-align: left;
  padding-left: 0px;
  position: absolute;
  right: 0px !important;
  z-index: 1;
  display: block;
  top: 0;
  bottom: 0;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.date-box td.date-box {
  border: 0px;
  font-size: 19px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid #cccccc;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.date-box td.date-box.today {
  border-top: 2px solid #c67b1a;
  border-left: 2px solid #c67b1a;
  border-right: 2px solid #c67b1a;
  background: #ffe1bb;
  color: #c67b1a;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.date-box td.date-box.past {
  background: #f6f6f6;
  color: #c9c9c9;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.date-box td.date-box.future {
  background: #fff7ec;
  color: #c9c9c9;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day .multi-day {
  border-bottom: 0px;
  padding: 0;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day .inner,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day .inner,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day .inner,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day .inner {
  min-height: inherit;
  width: auto;
  position: relative;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day .monthview {
  background: #cbcbcb;
  border-radius: 0;
  padding: 5px 5px 2px 5px;
  font-size: 12px;
  text-transform: uppercase;
  height: 1.7em;
  overflow: hidden;
  margin: 2px;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day .monthview a,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day .monthview a,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day .monthview a,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day .monthview a {
  color: white;
  height: 18px;
  display: block;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.past,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.past,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.past,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.past {
  background: #f6f6f6;
  color: #c9c9c9;
  padding: 0;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.past .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.past .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.past .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.past .monthview {
  background: #cbcbcb;
  border-radius: 0;
  padding: 5px 5px 2px 5px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 2px;
  height: 1.7em;
  overflow: hidden;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.past .monthview .contents,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.past .monthview .contents,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.past .monthview .contents,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.past .monthview .contents {
  position: absolute;
  width: 3000px;
  left: 5px;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.past .monthview a,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.past .monthview a,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.past .monthview a,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.past .monthview a {
  color: white;
  height: 18px;
  display: block;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.today,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.today,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.today,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.today {
  border-bottom: 2px solid #c67b1a;
  border-left: 2px solid #c67b1a;
  border-right: 2px solid #c67b1a;
  background: #ffe1bb;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.today .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.today .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.today .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.today .monthview {
  background: #c67b1a;
  color: white;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.today .monthview .cutoff,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.today .monthview .cutoff,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.today .monthview .cutoff,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.today .monthview .cutoff {
  background: #c67b1a;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.starts-today,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.starts-today,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.starts-today,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.starts-today {
  border-left: 2px solid #c67b1a;
  border-right: 2px solid #c67b1a;
  background: #ffe1bb;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.starts-today .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.starts-today .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.starts-today .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.starts-today .monthview {
  background: #c67b1a;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.starts-today .monthview .cutoff,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.starts-today .monthview .cutoff,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.starts-today .monthview .cutoff,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.starts-today .monthview .cutoff {
  background: #c67b1a;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.future,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.future,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.future,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.future {
  background: #fff7ec;
  color: #c9c9c9;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.future .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.future .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.future .monthview,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.future .monthview {
  background: #c67b1a;
  color: white;
}
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.multi-day.future .monthview .cutoff,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.multi-day td.single-day.future .monthview .cutoff,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.multi-day.future .monthview .cutoff,
.view-id-opportunities_calendar .calendar-calendar .month-view table.full tbody tr.single-day td.single-day.future .monthview .cutoff {
  background: #c67b1a;
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* DRUPAL ADMIN TOOL BAR */
body #admin-menu {
  font-size: 8px;
  display: none;
}

body.admin-menu {
  margin-top: 0px !important;
}

/* Increase the default font size on small devices */
html {
  font-size: 112.5%;
}

p,
pre {
  font-size: 15px;
}

div.messages {
  font-size: 12px;
}

.node ul, .node ol {
  font-size: 15px;
}

input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="search"],
input[type="password"],
input[type="text"] {
  width: 100%;
}

/* =============================================================================
 *   Top BAR
 * ========================================================================== */
#leaderboard-wrapper .block-lang-dropdown {
  width: 204px;
}
#leaderboard-wrapper .block-lang-dropdown .block-title {
  display: none;
}
#leaderboard-wrapper .block-lang-dropdown .block-inner {
  margin-right: 9px;
}
#leaderboard-wrapper .block-top-header-menu {
  width: 39px;
  height: 38px;
  margin-left: 13px;
}
#leaderboard-wrapper .block-top-header-menu .menu {
  display: none;
}

/* =============================================================================
 *   Header
 * ========================================================================== */
#branding {
  width: inherit;
}
#branding #logo {
  padding: 20px 0px 21px 3px;
}

#block-search-form {
  display: none;
}

.block-support-ijnet,
.block-login-block {
  margin-bottom: 0px !important;
}

.block-login-block {
  width: 204px !important;
  padding-top: 0;
}
.block-login-block .block-inner {
  margin-right: 0;
  margin-left: 10px;
}
.block-login-block .block-inner .block-content {
  padding: 17px 6px 0px 0px;
}

/* =============================================================================
 *   Item list
 * ========================================================================== */
.article-item-list {
  width: 100%;
  float: left;
  height: auto;
}
.article-item-list:nth-child(odd) {
  clear: left;
}
.article-item-list .content:nth-child(odd) {
  margin-right: 0px;
}
.article-item-list .content:nth-child(even) {
  margin-right: 0px;
}
.article-item-list .content {
  position: relative;
}
.article-item-list img {
  width: 100%;
}
.article-item-list .item-list-topic {
  position: absolute;
  top: 6px;
  left: 6px;
}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference {
  margin: 0px 10px 0 0;
  background: rgba(0, 0, 0, 0.52);
  padding: 6px 6px;
  width: auto;
  border: 1px solid #C0C0C0;
}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li {
  line-height: 10px;
  margin: 0;
  position: relative;
}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li a {
  font-size: 12px;
  background: transparent;
  color: #C0C0C0;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.article-item-list .aricle-title,
.article-item-list .node-title {
  font-size: 18px;
  color: #137a9a;
  line-height: 20px;
  margin: 5px 5px 7px 5px;
  max-height: 60px;
  overflow: hidden;
  clear: both;
}
.article-item-list .aricle-title a,
.article-item-list .node-title a {
  color: #137a9a;
}
.article-item-list .field-name-body {
  margin: 0px 5px 8px 5px;
  line-height: 16px;
  max-height: 95px;
  overflow: hidden;
}
.article-item-list .author {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
}

.article-item-list-no-body {
  width: 100%;
  float: left;
  height: auto;
}
.article-item-list-no-body:nth-child(odd) {
  clear: left;
}
.article-item-list-no-body .content:nth-child(odd) {
  margin-right: 0px;
}
.article-item-list-no-body .content:nth-child(even) {
  margin-right: 0px;
}
.article-item-list-no-body .content {
  position: relative;
}
.article-item-list-no-body img {
  width: 100%;
}
.article-item-list-no-body .item-list-topic {
  position: absolute;
  top: 6px;
  left: 6px;
}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference {
  margin: 0px 10px 0 0;
  background: rgba(0, 0, 0, 0.52);
  padding: 6px 6px;
  width: auto;
  border: 1px solid #C0C0C0;
}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li {
  line-height: 10px;
  margin: 0;
  position: relative;
}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li a {
  font-size: 12px;
  background: transparent;
  color: #C0C0C0;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.article-item-list-no-body .aricle-title,
.article-item-list-no-body .node-title {
  font-size: 18px;
  color: #137a9a;
  line-height: 20px;
  margin: 5px 5px 7px 5px;
  max-height: 60px;
  overflow: hidden;
  clear: both;
}
.article-item-list-no-body .aricle-title a,
.article-item-list-no-body .node-title a {
  color: #137a9a;
}
.article-item-list-no-body .field-name-body {
  margin: 0px 5px 8px 5px;
  line-height: 16px;
  max-height: 95px;
  overflow: hidden;
}
.article-item-list-no-body .author {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
}

/* =============================================================================
 *   TABS
 * ========================================================================== */
.sidebar-tabs .block-title,
.content-tabs .block-title {
  display: none;
}

.content-tabs .quicktabs-wrapper .quicktabs-tabs li a {
  padding: 5px 20px 4px 20px;
}

/* =============================================================================
 *   Video landing page
 * ========================================================================== */
.pane-jsonblocks-social-block {
  display: none !important;
}

.pane-fe-videos-fe-videos-search .videos-landing-header {
  height: 222px;
}

.pane-fe-videos-fe-videos-search .videos-landing-header .header,
.pane-fe-videos-fe-videos-search .videos-landing-header .topic-select {
  width: 100%;
}

.pane-views-videos-featured-video {
  margin-bottom: 0px;
}

.view-display-id-featured_video {
  height: 100%;
}

.view-display-id-featured_video iframe {
  height: 200px;
}

.page-videos .view-display-id-featured_video {
  margin-right: 0px;
}

.view-display-id-featured_video {
  padding-right: 15px;
}

.page-videos .pane-views-videos-related-videos-landing .block-inner {
  margin-top: 0px;
  margin-left: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
  height: auto;
}

.pane-views-videos-related-videos-landing .block-inner .views-row {
  width: 100%;
  float: left;
  margin-bottom: 0px;
}
.pane-views-videos-related-videos-landing .block-inner .views-row .node-video {
  margin: 0 5px;
}

/* =============================================================================
 *   Opportunities LANDING
 * ========================================================================== */
.views-exposed-widgets #edit-field-category-tid-wrapper,
.views-exposed-widgets #edit-field-region-tid-wrapper {
  width: 100%;
  padding-right: 0%;
}
.views-exposed-widgets #edit-title-wrapper {
  width: 100%;
  padding: 2% 0% 0 0;
}
.views-exposed-widgets #edit-keys-wrapper {
  padding-right: 0px;
  width: 242px;
}
.views-exposed-widgets .views-submit-button {
  width: 100%;
  text-align: center;
}

/* =============================================================================
 *   User Profile
 * ========================================================================== */
.section-users #content .profile:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .section-users #content .profile {
  height: 1px;
}
.section-users #content .profile .field-name-field-bio {
  width: 100%;
  clear: both;
}
.section-users #content .profile .field-name-field-bio .field-items {
  margin-right: 0px;
  padding-right: 0px;
}
.section-users #content .profile .user-picture {
  margin: 0px auto 15px auto;
  float: none;
}

.page-search .search-form .form-wrapper {
  width: 100%;
  margin: 0;
}
.page-search .search-form .form-wrapper input {
  width: 100%;
}
