/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* =============================================================================
*   Item list
* ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.desktop\.scss}line{font-family:\0000320}}
.article-item-list {
  width: 50%;
  float: left;
  height: 370px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003670}}
.article-item-list:nth-child(odd) {
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003676}}
.article-item-list .content:nth-child(odd) {
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003677}}
.article-item-list .content:nth-child(even) {
  margin-right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003764}}
.article-item-list .content {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003766}}
.article-item-list img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003769}}
.article-item-list .item-list-topic {
  position: absolute;
  top: 6px;
  left: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003773}}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference {
  margin: 0px 10px 0 0;
  background: rgba(0, 0, 0, 0.52);
  padding: 6px 6px;
  width: auto;
  border: 1px solid #C0C0C0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003780}}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li {
  line-height: 10px;
  margin: 0;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003784}}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li a {
  font-size: 12px;
  background: transparent;
  color: #C0C0C0;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003795}}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003807}}
.article-item-list .aricle-title,
.article-item-list .node-title {
  font-size: 18px;
  color: #137a9a;
  line-height: 20px;
  margin: 5px 5px 7px 5px;
  max-height: 60px;
  overflow: hidden;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003815}}
.article-item-list .aricle-title a,
.article-item-list .node-title a {
  color: #137a9a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003819}}
.article-item-list .field-name-body {
  margin: 0px 5px 8px 5px;
  line-height: 16px;
  max-height: 95px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003827}}
.article-item-list .author {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.desktop\.scss}line{font-family:\0000325}}
.article-item-list-no-body {
  width: 50%;
  float: left;
  height: 270px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003717}}
.article-item-list-no-body:nth-child(odd) {
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003723}}
.article-item-list-no-body .content:nth-child(odd) {
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003724}}
.article-item-list-no-body .content:nth-child(even) {
  margin-right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003764}}
.article-item-list-no-body .content {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003766}}
.article-item-list-no-body img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003769}}
.article-item-list-no-body .item-list-topic {
  position: absolute;
  top: 6px;
  left: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003773}}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference {
  margin: 0px 10px 0 0;
  background: rgba(0, 0, 0, 0.52);
  padding: 6px 6px;
  width: auto;
  border: 1px solid #C0C0C0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003780}}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li {
  line-height: 10px;
  margin: 0;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003784}}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li a {
  font-size: 12px;
  background: transparent;
  color: #C0C0C0;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003795}}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003807}}
.article-item-list-no-body .aricle-title,
.article-item-list-no-body .node-title {
  font-size: 18px;
  color: #137a9a;
  line-height: 20px;
  margin: 5px 5px 7px 5px;
  max-height: 60px;
  overflow: hidden;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003815}}
.article-item-list-no-body .aricle-title a,
.article-item-list-no-body .node-title a {
  color: #137a9a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003819}}
.article-item-list-no-body .field-name-body {
  margin: 0px 5px 8px 5px;
  line-height: 16px;
  max-height: 95px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003827}}
.article-item-list-no-body .author {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
}
