/* line 7, ../sass/_language_fix.scss */
.i18n-en .latest-posts-block {
  background: url("../images/bg_latest_post_en.jpg") no-repeat left center;
}

@media (max-width: 989px) and (min-width: 769px) {
  /* line 17, ../sass/_language_fix.scss */
  .i18n-es .pane-quicktabs-opportunities-for-journalists .block-title {
    top: -23px !important;
    left: 29px;
    line-height: normal;
  }
}
/* line 26, ../sass/_language_fix.scss */
.i18n-es .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  top: 5px;
  left: 29px;
  line-height: normal;
}
/* line 34, ../sass/_language_fix.scss */
.i18n-es .latest-posts-block {
  background: url("../images/bg_latest_post_es.jpg") no-repeat left center;
}
/* line 39, ../sass/_language_fix.scss */
.i18n-es.section-knight-media-innovators #block-blockify-blockify-page-title h1 {
  font-size: 25px;
}

/* line 47, ../sass/_language_fix.scss */
.i18n-pt-br .block-login-block {
  font-size: 15px;
}
/* line 50, ../sass/_language_fix.scss */
.i18n-pt-br .mail-subscribe .dropdown .clicker h4 {
  font-size: 14px;
}
/* line 54, ../sass/_language_fix.scss */
.i18n-pt-br .latest-posts-block {
  background: url("../images/bg_latest_post_pt.jpg") no-repeat left center;
}
/* line 58, ../sass/_language_fix.scss */
.i18n-pt-br .latest-posts-block .inner-block a {
  line-height: 14px;
  font-size: 12px;
  padding: 13px 44px 13px 16px;
}
/* line 64, ../sass/_language_fix.scss */
.i18n-pt-br .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  width: 270px;
  top: 7px;
  left: 29px;
  line-height: normal;
}

/* line 76, ../sass/_language_fix.scss */
.i18n-ru .content-tabs .block-title {
  left: 22px;
}
/* line 80, ../sass/_language_fix.scss */
.i18n-ru .block-top-header-menu {
  width: 65%;
}
/* line 81, ../sass/_language_fix.scss */
.i18n-ru .block-lang-dropdown {
  width: 30%;
}
/* line 82, ../sass/_language_fix.scss */
.i18n-ru .block-top-header-menu .block-content ul.menu li a {
  display: block;
  line-height: 12px;
  margin: 0 4px;
}
/* line 89, ../sass/_language_fix.scss */
.i18n-ru .block-login-block {
  font-size: 14px;
}
/* line 95, ../sass/_language_fix.scss */
.i18n-ru .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  width: 130px;
  top: -7px;
  left: 29px;
  line-height: normal;
}
/* line 105, ../sass/_language_fix.scss */
.i18n-ru .latest-posts-block {
  background: url("../images/bg_latest_post_ru.jpg") no-repeat left center;
}
/* line 109, ../sass/_language_fix.scss */
.i18n-ru .latest-posts-block .inner-block a {
  padding: 13px 44px 13px 22px;
  line-height: 14px;
  font-size: 11px;
}
/* line 115, ../sass/_language_fix.scss */
.i18n-ru .block-about-author .button-tiny {
  margin-top: 10px;
}

/* line 123, ../sass/_language_fix.scss */
.i18n-ar .latest-posts-block {
  background: url("../images/bg_latest_post_ar.jpg") no-repeat left center;
}

/* line 131, ../sass/_language_fix.scss */
.i18n-zh-hans .latest-posts-block {
  background: url("../images/bg_latest_post_zh-hans.jpg") no-repeat left -10px;
  height: 202px;
}

/* line 140, ../sass/_language_fix.scss */
.i18n-fa .latest-posts-block {
  background: url("../images/bg_latest_post_fa.jpg") no-repeat left center;
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* DRUPAL ADMIN TOOL BAR */
/* line 15, ../sass/responsive.smartphone.portrait.scss */
body #admin-menu {
  font-size: 8px;
  display: none;
}

/* line 16, ../sass/responsive.smartphone.portrait.scss */
body.admin-menu {
  margin-top: 0px !important;
}

/* Increase the default font size on small devices */
/* line 20, ../sass/responsive.smartphone.portrait.scss */
html {
  font-size: 112.5%;
}

/* line 25, ../sass/responsive.smartphone.portrait.scss */
p,
pre {
  font-size: 15px;
}

/* line 31, ../sass/responsive.smartphone.portrait.scss */
html[dir="rtl"] p,
html[dir="rtl"] pre {
  font-size: 16px;
}

/* line 36, ../sass/responsive.smartphone.portrait.scss */
div.messages {
  font-size: 12px;
}

/* line 48, ../sass/responsive.smartphone.portrait.scss */
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="search"],
input[type="password"],
input[type="text"] {
  width: 100%;
}

/* =============================================================================
 *   Top BAR
 * ========================================================================== */
/* line 56, ../sass/responsive.smartphone.portrait.scss */
#leaderboard-wrapper .block-lang-dropdown {
  width: 204px;
}
/* line 57, ../sass/responsive.smartphone.portrait.scss */
#leaderboard-wrapper .block-lang-dropdown .block-title {
  display: none;
}
/* line 59, ../sass/responsive.smartphone.portrait.scss */
#leaderboard-wrapper .block-lang-dropdown .block-inner {
  margin-right: 9px;
}
/* line 63, ../sass/responsive.smartphone.portrait.scss */
#leaderboard-wrapper .block-top-header-menu {
  width: 39px;
  height: 38px;
  margin-left: 13px;
}
/* line 67, ../sass/responsive.smartphone.portrait.scss */
#leaderboard-wrapper .block-top-header-menu .menu {
  display: none;
}

/* =============================================================================
 *   Header
 * ========================================================================== */
/* line 76, ../sass/responsive.smartphone.portrait.scss */
#branding {
  width: inherit;
}
/* line 78, ../sass/responsive.smartphone.portrait.scss */
#branding #logo {
  padding: 20px 0px 21px 3px;
}

/* line 83, ../sass/responsive.smartphone.portrait.scss */
#block-search-form {
  display: none;
}

/* line 89, ../sass/responsive.smartphone.portrait.scss */
.block-support-ijnet,
.block-login-block {
  margin-bottom: 0px !important;
}

/* line 92, ../sass/responsive.smartphone.portrait.scss */
.block-login-block {
  width: 204px !important;
  padding-top: 0;
}
/* line 95, ../sass/responsive.smartphone.portrait.scss */
.block-login-block .block-inner {
  margin-right: 0;
  margin-left: 10px;
}
/* line 99, ../sass/responsive.smartphone.portrait.scss */
.block-login-block .block-inner .block-content {
  padding: 17px 6px 0px 0px;
}

/* =============================================================================
 *   Item list
 * ========================================================================== */
/* line 109, ../sass/responsive.smartphone.portrait.scss */
.article-item-list {
  width: 100%;
  float: left;
  height: auto;
}
/* line 693, ../sass/_custom.scss */
.article-item-list:nth-child(odd) {
  clear: left;
}
/* line 731, ../sass/_custom.scss */
.article-item-list .content:nth-child(odd) {
  margin-right: 0px;
}
/* line 732, ../sass/_custom.scss */
.article-item-list .content:nth-child(even) {
  margin-right: 0px;
}
/* line 787, ../sass/_custom.scss */
.article-item-list .content {
  position: relative;
}
/* line 789, ../sass/_custom.scss */
.article-item-list img {
  width: 100%;
}
/* line 792, ../sass/_custom.scss */
.article-item-list .item-list-topic {
  position: absolute;
  top: 6px;
  left: 6px;
}
/* line 796, ../sass/_custom.scss */
.article-item-list .item-list-topic .field-type-taxonomy-term-reference {
  margin: 0px 10px 0 0;
  background: rgba(0, 0, 0, 0.52);
  padding: 6px 6px;
  width: auto;
  border: 1px solid #C0C0C0;
}
/* line 803, ../sass/_custom.scss */
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li {
  line-height: 10px;
  margin: 0;
  position: relative;
}
/* line 807, ../sass/_custom.scss */
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li a {
  font-size: 12px;
  background: transparent;
  color: #C0C0C0;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 818, ../sass/_custom.scss */
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
/* line 830, ../sass/_custom.scss */
.article-item-list .aricle-title,
.article-item-list .node-title {
  font-size: 18px;
  color: #137a9a;
  line-height: 20px;
  margin: 5px 5px 7px 5px;
  max-height: 60px;
  overflow: hidden;
  clear: both;
}
/* line 838, ../sass/_custom.scss */
.article-item-list .aricle-title a,
.article-item-list .node-title a {
  color: #137a9a;
}
/* line 842, ../sass/_custom.scss */
.article-item-list .field-name-body {
  margin: 0px 5px 8px 5px;
  line-height: 16px;
  max-height: 95px;
  overflow: hidden;
}
/* line 850, ../sass/_custom.scss */
.article-item-list .author {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
}

/* line 114, ../sass/responsive.smartphone.portrait.scss */
.article-item-list-no-body {
  width: 100%;
  float: left;
  height: auto;
}
/* line 740, ../sass/_custom.scss */
.article-item-list-no-body:nth-child(odd) {
  clear: left;
}
/* line 778, ../sass/_custom.scss */
.article-item-list-no-body .content:nth-child(odd) {
  margin-right: 0px;
}
/* line 779, ../sass/_custom.scss */
.article-item-list-no-body .content:nth-child(even) {
  margin-right: 0px;
}
/* line 787, ../sass/_custom.scss */
.article-item-list-no-body .content {
  position: relative;
}
/* line 789, ../sass/_custom.scss */
.article-item-list-no-body img {
  width: 100%;
}
/* line 792, ../sass/_custom.scss */
.article-item-list-no-body .item-list-topic {
  position: absolute;
  top: 6px;
  left: 6px;
}
/* line 796, ../sass/_custom.scss */
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference {
  margin: 0px 10px 0 0;
  background: rgba(0, 0, 0, 0.52);
  padding: 6px 6px;
  width: auto;
  border: 1px solid #C0C0C0;
}
/* line 803, ../sass/_custom.scss */
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li {
  line-height: 10px;
  margin: 0;
  position: relative;
}
/* line 807, ../sass/_custom.scss */
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li a {
  font-size: 12px;
  background: transparent;
  color: #C0C0C0;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 818, ../sass/_custom.scss */
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
/* line 830, ../sass/_custom.scss */
.article-item-list-no-body .aricle-title,
.article-item-list-no-body .node-title {
  font-size: 18px;
  color: #137a9a;
  line-height: 20px;
  margin: 5px 5px 7px 5px;
  max-height: 60px;
  overflow: hidden;
  clear: both;
}
/* line 838, ../sass/_custom.scss */
.article-item-list-no-body .aricle-title a,
.article-item-list-no-body .node-title a {
  color: #137a9a;
}
/* line 842, ../sass/_custom.scss */
.article-item-list-no-body .field-name-body {
  margin: 0px 5px 8px 5px;
  line-height: 16px;
  max-height: 95px;
  overflow: hidden;
}
/* line 850, ../sass/_custom.scss */
.article-item-list-no-body .author {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
}

/* =============================================================================
 *   TABS
 * ========================================================================== */
/* line 123, ../sass/responsive.smartphone.portrait.scss */
.sidebar-tabs .block-title,
.content-tabs .block-title {
  display: none;
}

/* line 124, ../sass/responsive.smartphone.portrait.scss */
.content-tabs .quicktabs-wrapper .quicktabs-tabs li a {
  padding: 5px 20px 4px 20px;
}

/* =============================================================================
 *   Video landing page
 * ========================================================================== */
/* line 132, ../sass/responsive.smartphone.portrait.scss */
.pane-jsonblocks-social-block {
  display: none !important;
}

/* line 133, ../sass/responsive.smartphone.portrait.scss */
.pane-fe-videos-fe-videos-search .videos-landing-header {
  height: 222px;
}

/* line 135, ../sass/responsive.smartphone.portrait.scss */
.pane-fe-videos-fe-videos-search .videos-landing-header .header,
.pane-fe-videos-fe-videos-search .videos-landing-header .topic-select {
  width: 100%;
}

/* line 140, ../sass/responsive.smartphone.portrait.scss */
.pane-views-videos-featured-video {
  margin-bottom: 0px;
}

/* line 141, ../sass/responsive.smartphone.portrait.scss */
.view-display-id-featured_video {
  height: 100%;
}

/* line 142, ../sass/responsive.smartphone.portrait.scss */
.view-display-id-featured_video iframe {
  height: 200px;
}

/* line 143, ../sass/responsive.smartphone.portrait.scss */
.page-videos .view-display-id-featured_video {
  margin-right: 0px;
}

/* line 144, ../sass/responsive.smartphone.portrait.scss */
.view-display-id-featured_video {
  padding-right: 15px;
}

/* line 147, ../sass/responsive.smartphone.portrait.scss */
.page-videos .pane-views-videos-related-videos-landing .block-inner {
  margin-top: 0px;
  margin-left: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
  height: auto;
}

/* line 154, ../sass/responsive.smartphone.portrait.scss */
.pane-views-videos-related-videos-landing .block-inner .views-row {
  width: 100%;
  float: left;
  margin-bottom: 0px;
}
/* line 158, ../sass/responsive.smartphone.portrait.scss */
.pane-views-videos-related-videos-landing .block-inner .views-row .node-video {
  margin: 0 5px;
}

/* =============================================================================
 *   Opportunities LANDING
 * ========================================================================== */
/* line 168, ../sass/responsive.smartphone.portrait.scss */
.views-exposed-widgets #edit-field-category-tid-wrapper,
.views-exposed-widgets #edit-field-region-tid-wrapper {
  width: 100%;
  padding-right: 0%;
}
/* line 173, ../sass/responsive.smartphone.portrait.scss */
.views-exposed-widgets #edit-title-wrapper {
  width: 100%;
  padding: 2% 0% 0 0;
}
/* line 177, ../sass/responsive.smartphone.portrait.scss */
.views-exposed-widgets #edit-keys-wrapper {
  padding-right: 0px;
  width: 242px;
}
/* line 181, ../sass/responsive.smartphone.portrait.scss */
.views-exposed-widgets .views-submit-button {
  width: 100%;
  text-align: center;
}

/* =============================================================================
 *   User Profile
 * ========================================================================== */
/* line 139, ../sass/_custom.scss */
.section-users #content .profile:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 146, ../sass/_custom.scss */
* html .section-users #content .profile {
  height: 1px;
}
/* line 195, ../sass/responsive.smartphone.portrait.scss */
.section-users #content .profile .field-name-field-bio {
  width: 100%;
  clear: both;
}
/* line 198, ../sass/responsive.smartphone.portrait.scss */
.section-users #content .profile .field-name-field-bio .field-items {
  margin-right: 0px;
  padding-right: 0px;
}
/* line 203, ../sass/responsive.smartphone.portrait.scss */
.section-users #content .profile .user-picture {
  margin: 0px auto 15px auto;
  float: none;
}

/* line 216, ../sass/responsive.smartphone.portrait.scss */
.page-search .search-form .form-wrapper {
  width: 100%;
  margin: 0;
}
/* line 223, ../sass/responsive.smartphone.portrait.scss */
.page-search .search-form .form-wrapper input {
  width: 100%;
}
