/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* DRUPAL ADMIN TOOL BAR */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000315}}
body #admin-menu {
  font-size: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000316}}
body.admin-menu {
  margin-top: 21px !important;
}

/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000320}}
html {
  font-size: 112.5%;
  background: red;
}

/* =============================================================================
 *   Top BAR
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000329}}
#leaderboard-wrapper .block-lang-dropdown {
  width: 215px;
  float: right;
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000330}}
#leaderboard-wrapper .block-lang-dropdown .block-title {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000335}}
#leaderboard-wrapper .block-top-header-menu {
  width: 39px;
  height: 38px;
  float: left;
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000340}}
#leaderboard-wrapper .block-top-header-menu .menu {
  display: none;
}

/* =============================================================================
 *   Header
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000349}}
#branding {
  width: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000351}}
#branding #logo {
  padding: 20px 0px 21px 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000356}}
#block-search-form {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000362}}
.block-support-ijnet,
.block-login-block {
  margin-bottom: 0px !important;
}

/* =============================================================================
 *   Top BAR
 * ========================================================================== */
/* leaderboard-wrapper ====================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000372}}
#leaderboard-wrapper {
  background: #5b5836;
  border-bottom: 1px solid #3b3923;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000375}}
#leaderboard-wrapper .block {
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000381}}
.block-top-header-menu ul.menu {
  display: none;
}

/* =========================================================================== */
/* =============================================================================
 *   Video Page Layout
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000395}}
.article-item-list {
  width: 100%;
  float: left;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003613}}
.article-item-list:nth-child(odd) {
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003644}}
.article-item-list .content:nth-child(odd) {
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003645}}
.article-item-list .content:nth-child(even) {
  margin-right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003663}}
.article-item-list img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003667}}
.article-item-list .aricle-title,
.article-item-list .node-title {
  font-size: 16px;
  color: #137a9a;
  line-height: 20px;
  margin: 5px 5px 7px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003672}}
.article-item-list .aricle-title a,
.article-item-list .node-title a {
  color: #137a9a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003676}}
.article-item-list .field-name-body {
  margin: 0px 5px 8px 5px;
  line-height: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/drupal\/sites\/ijnet\/docroot\/sites\/all\/themes\/ijnet\/sass\/_custom\.scss}line{font-family:\00003682}}
.article-item-list .author {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
}
