/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
p,
pre {
  font-size: 15px;
}

.node ul, .node ol {
  font-size: 15px;
}

input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="search"],
input[type="password"],
input[type="text"] {
  width: 100%;
}

/* =============================================================================
 *   Top BAR
 * ========================================================================== */
#leaderboard-wrapper .block-lang-dropdown {
  width: 215px;
  float: right;
  clear: none;
}
#leaderboard-wrapper .block-lang-dropdown .block-title {
  display: none;
}
#leaderboard-wrapper .block-top-header-menu {
  width: 457px;
  height: 38px;
  float: left;
  margin-left: 15px;
}
#leaderboard-wrapper .block-top-header-menu .block-content ul.menu li a {
  font-size: 11px;
}

/* =============================================================================
 *   Header
 * ========================================================================== */
/* =============================================================================
 *   Main menu
 * ========================================================================== */
.nav li, .nav ul.menu li {
  font-size: 16px;
}
.nav li a, .nav ul.menu li a {
  margin: 0 17px;
}

.view-id-view_search_block_user .avatar img {
  width: 80px;
}
.view-id-view_search_block_user .author-name {
  float: left;
  clear: left;
}
.view-id-view_search_block_user .job-name {
  float: left;
  clear: left;
}
.view-id-view_search_block_user .organization {
  float: left;
  clear: left;
}
.view-id-view_search_block_user .views-field-nothing {
  float: left;
  clear: both;
}
.view-id-view_search_block_user .bio {
  clear: both;
  padding-top: 5px;
}

.article-item-list {
  width: 50%;
  float: left;
  height: auto;
}
.article-item-list:nth-child(odd) {
  clear: left;
}
.article-item-list .content:nth-child(odd) {
  margin-right: 10px;
}
.article-item-list .content:nth-child(even) {
  margin-right: 0px;
}
.article-item-list .content {
  position: relative;
}
.article-item-list img {
  width: 100%;
}
.article-item-list .item-list-topic {
  position: absolute;
  top: 6px;
  left: 6px;
}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference {
  margin: 0px 10px 0 0;
  background: rgba(0, 0, 0, 0.52);
  padding: 6px 6px;
  width: auto;
  border: 1px solid #C0C0C0;
}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li {
  line-height: 10px;
  margin: 0;
  position: relative;
}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li a {
  font-size: 12px;
  background: transparent;
  color: #C0C0C0;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.article-item-list .item-list-topic .field-type-taxonomy-term-reference ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.article-item-list .aricle-title,
.article-item-list .node-title {
  font-size: 18px;
  color: #137a9a;
  line-height: 20px;
  margin: 5px 5px 7px 5px;
  max-height: 60px;
  overflow: hidden;
  clear: both;
}
.article-item-list .aricle-title a,
.article-item-list .node-title a {
  color: #137a9a;
}
.article-item-list .field-name-body {
  margin: 0px 5px 8px 5px;
  line-height: 16px;
  max-height: 95px;
  overflow: hidden;
}
.article-item-list .author {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
}

.article-item-list-no-body {
  width: 50%;
  float: left;
  height: auto;
}
.article-item-list-no-body:nth-child(odd) {
  clear: left;
}
.article-item-list-no-body .content:nth-child(odd) {
  margin-right: 10px;
}
.article-item-list-no-body .content:nth-child(even) {
  margin-right: 0px;
}
.article-item-list-no-body .content {
  position: relative;
}
.article-item-list-no-body img {
  width: 100%;
}
.article-item-list-no-body .item-list-topic {
  position: absolute;
  top: 6px;
  left: 6px;
}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference {
  margin: 0px 10px 0 0;
  background: rgba(0, 0, 0, 0.52);
  padding: 6px 6px;
  width: auto;
  border: 1px solid #C0C0C0;
}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li {
  line-height: 10px;
  margin: 0;
  position: relative;
}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li a {
  font-size: 12px;
  background: transparent;
  color: #C0C0C0;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.article-item-list-no-body .item-list-topic .field-type-taxonomy-term-reference ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.article-item-list-no-body .aricle-title,
.article-item-list-no-body .node-title {
  font-size: 18px;
  color: #137a9a;
  line-height: 20px;
  margin: 5px 5px 7px 5px;
  max-height: 60px;
  overflow: hidden;
  clear: both;
}
.article-item-list-no-body .aricle-title a,
.article-item-list-no-body .node-title a {
  color: #137a9a;
}
.article-item-list-no-body .field-name-body {
  margin: 0px 5px 8px 5px;
  line-height: 16px;
  max-height: 95px;
  overflow: hidden;
}
.article-item-list-no-body .author {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
}
