/* line 7, ../sass/_language_fix.scss */
.i18n-en .latest-posts-block {
  background: url("../images/bg_latest_post_en.jpg") no-repeat left center;
}

@media (max-width: 989px) and (min-width: 769px) {
  /* line 17, ../sass/_language_fix.scss */
  .i18n-es .pane-quicktabs-opportunities-for-journalists .block-title {
    top: -23px !important;
    left: 29px;
    line-height: normal;
  }
}
/* line 26, ../sass/_language_fix.scss */
.i18n-es .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  top: 5px;
  left: 29px;
  line-height: normal;
}
/* line 34, ../sass/_language_fix.scss */
.i18n-es .latest-posts-block {
  background: url("../images/bg_latest_post_es.jpg") no-repeat left center;
}
/* line 39, ../sass/_language_fix.scss */
.i18n-es.section-knight-media-innovators #block-blockify-blockify-page-title h1 {
  font-size: 25px;
}

/* line 47, ../sass/_language_fix.scss */
.i18n-pt-br .block-login-block {
  font-size: 15px;
}
/* line 50, ../sass/_language_fix.scss */
.i18n-pt-br .mail-subscribe .dropdown .clicker h4 {
  font-size: 14px;
}
/* line 54, ../sass/_language_fix.scss */
.i18n-pt-br .latest-posts-block {
  background: url("../images/bg_latest_post_pt.jpg") no-repeat left center;
}
/* line 58, ../sass/_language_fix.scss */
.i18n-pt-br .latest-posts-block .inner-block a {
  line-height: 14px;
  font-size: 12px;
  padding: 13px 44px 13px 16px;
}
/* line 64, ../sass/_language_fix.scss */
.i18n-pt-br .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  width: 270px;
  top: 7px;
  left: 29px;
  line-height: normal;
}

/* line 76, ../sass/_language_fix.scss */
.i18n-ru .content-tabs .block-title {
  left: 22px;
}
/* line 80, ../sass/_language_fix.scss */
.i18n-ru .block-top-header-menu {
  width: 65%;
}
/* line 81, ../sass/_language_fix.scss */
.i18n-ru .block-lang-dropdown {
  width: 30%;
}
/* line 82, ../sass/_language_fix.scss */
.i18n-ru .block-top-header-menu .block-content ul.menu li a {
  display: block;
  line-height: 12px;
  margin: 0 4px;
}
/* line 89, ../sass/_language_fix.scss */
.i18n-ru .block-login-block {
  font-size: 14px;
}
/* line 95, ../sass/_language_fix.scss */
.i18n-ru .pane-quicktabs-opportunities-for-journalists .block-title {
  font-size: 13px;
  width: 130px;
  top: -7px;
  left: 29px;
  line-height: normal;
}
/* line 105, ../sass/_language_fix.scss */
.i18n-ru .latest-posts-block {
  background: url("../images/bg_latest_post_ru.jpg") no-repeat left center;
}
/* line 109, ../sass/_language_fix.scss */
.i18n-ru .latest-posts-block .inner-block a {
  padding: 13px 44px 13px 22px;
  line-height: 14px;
  font-size: 11px;
}
/* line 115, ../sass/_language_fix.scss */
.i18n-ru .block-about-author .button-tiny {
  margin-top: 10px;
}

/* line 123, ../sass/_language_fix.scss */
.i18n-ar .latest-posts-block {
  background: url("../images/bg_latest_post_ar.jpg") no-repeat left center;
}
/* line 128, ../sass/_language_fix.scss */
.i18n-ar .mail-subscribe .dropdown .inner-dropdown .subscribe-form a.archive-link,
.i18n-ar .mail-subscribe .dropdown .inner-dropdown .subscribe-form input[type="submit"] {
  float: right;
}

/* line 136, ../sass/_language_fix.scss */
.i18n-zh-hans .latest-posts-block {
  background: url("../images/bg_latest_post_zh-hans.jpg") no-repeat left -10px;
  height: 202px;
}

/* line 145, ../sass/_language_fix.scss */
.i18n-fa .latest-posts-block {
  background: url("../images/bg_latest_post_fa.jpg") no-repeat left center;
}
/* line 149, ../sass/_language_fix.scss */
.i18n-fa .mail-subscribe .dropdown .inner-dropdown .subscribe-form a.archive-link,
.i18n-fa .mail-subscribe .dropdown .inner-dropdown .subscribe-form input[type="submit"] {
  float: right;
}

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/* Desktops/laptops and up ======================================= */
@media only screen and (min-width: 769px) {
  /* line 23, ../sass/responsive.custom.scss */
  .two-66-33 > .region-two-66-33-first {
    width: 100%;
  }
  /* line 25, ../sass/responsive.custom.scss */
  .two-66-33 > .region-two-66-33-first .region-inner {
    margin-right: 330px;
  }

  /* line 27, ../sass/responsive.custom.scss */
  .two-66-33 > .region-two-66-33-second {
    width: 330px;
    margin-left: -330px;
  }
}
/* Tablet sizes and up =========================================== */
@media only screen and (min-width: 480px) and (max-width: 691px) {
  /* line 37, ../sass/responsive.custom.scss */
  #leaderboard-wrapper .block-top-header-menu {
    width: 39px !important;
  }

  /* line 38, ../sass/responsive.custom.scss */
  #leaderboard-wrapper .block-top-header-menu .menu {
    display: none;
  }
}
/* @media only screen and (min-width:769px) and (max-width:989px){} */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 44, ../sass/responsive.custom.scss */
  .two-66-33 > .region-two-66-33-first,
  .two-66-33 > .region-two-66-33-second {
    float: none;
    width: 100%;
  }
}
/* Smartphone sizes and up ======================================= */
/* @media only screen and (min-width:321px) and (max-width:480px){} */
/* @media only screen and (max-width:320px){} */
/* Smartphone sizes and down ===================================== */
@media only screen and (max-width: 480px) {
  /*
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   *
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  /* line 69, ../sass/responsive.custom.scss */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
